@charset "utf-8";

@font-face {
	font-family: "Knockout";
	font-style: normal;
	font-weight: 400;
	src:
	  url("../../font/Knockout-31_Web.woff") format("woff");
}
@font-face {
	font-family: "Knockout";
	font-style: normal;
	font-weight: 800;
	src:
	  url("../../font/Knockout-50_Web.woff") format("woff");
}
@font-face {
	font-family: "Knockout";
	font-style: normal;
	font-weight: 900;
	src:
	  url("../../font/Knockout-51_Web.woff") format("woff");
}


/* noto-sans-kr-300 - latin */
@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 300;
	src:
		url('../../font/noto-sans-kr-v11-korean_latin-300.woff') format('woff'), /* Modern Browsers */
		url('../../font/noto-sans-kr-v11-korean_latin-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-regular - latin */
@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 400;
	src:
		url('../../font/noto-sans-kr-v11-korean_latin-regular.woff') format('woff'), /* Modern Browsers */
		url('../../font/noto-sans-kr-v11-korean_latin-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - latin */
@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 700;
	src: 
		url('../../font/noto-sans-kr-v11-korean_latin-500.woff') format('woff'), /* Modern Browsers */
		url('../../font/noto-sans-kr-v11-korean_latin-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-800 - latin */
@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 800;
	src:
		url('../../font/noto-sans-kr-v11-korean_latin-700.woff') format('woff'), /* Modern Browsers */
		url('../../font/noto-sans-kr-v11-korean_latin-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: "NotoSans";
	font-style: normal;
	font-weight: 900;
	src:
		url("../../font/NotoSansKR-Black.woff2") format("woff2"),
		url("../../font/NotoSansKR-Black.otf") format("truetype");
}