@charset "utf-8";

/**********************************************************
	MAIN
**********************************************************/
[class^="main_area"] {overflow:hidden;min-width:1200px;}
[class^="main_area"]:last-child {margin:0 0 -140px;}
[class^="main_area"] .full_banner a {display:block;}
[class^="main_area"] .full_banner a .img {display:block;position:relative;left:50%;width:1920px;transform:translate(-50%, 0);}
[class^="main_area"] .full_banner a .img img {width:100%;vertical-align:top;}
[class^="main_area"] .full_banner .video_box {overflow:hidden;position:relative;height:600px;background-color:#000;}
[class^="main_area"] .full_banner .video_box .inner {position:absolute;left:0;right:0;top:50%;padding:56% 0 0;transform:translate(0, -50%);}
[class^="main_area"] .full_banner .video_box .inner .playerBox {position:absolute;left:0;right:0;top:0;bottom:0;}
[class^="main_area"] .full_banner .video_box .inner .playerBox iframe {width:100%;height:100%;}
[class^="main_area"] .main_bot_banner {overflow:hidden;min-width:1200px;max-width:1920px;margin:0 auto;}
[class^="main_area"] .main_bot_banner ul {overflow:hidden;position:relative;}
[class^="main_area"] .main_bot_banner ul li {float:left;}
[class^="main_area"] .main_bot_banner ul li a {display:block;width:420px;}
[class^="main_area"] .main_bot_banner ul li a img {width:100%;}

/**********************************************************
	SUB PAGE
**********************************************************/
/* sub page title */
[class^="pageTitBox"] {padding:100px 0 0;}
[class^="pageTitBox"] .pageTitle {line-height:55px;font-size:45px;font-weight:700;text-align:center;}
[class^="pageTitBox"] .pageTitle02 {line-height:50px;font-size:40px;font-weight:800;text-align:center;}
[class^="pageTitBox"] .pageCopy {margin:20px 0 0;line-height:34px;font-size:24px;color:#999;text-align:center;}

/* design check box */
[class^="dsigChk"] {display:inline-block;position:relative;padding:0 0 0 20px;line-height:20px;font-size:13px;color:#131313;}
[class^="dsigChk"] + [class^="dsigChk"] {margin:0 0 0 26px;}
[class^="dsigChk"] input[type="checkbox"] {position:absolute;left:0;top:3px;width:15px;height:13px;background-image:url('../../images/daks/ico_checkbox.png');background-repeat:no-repeat;background-position:left top;}
[class^="dsigChk"].checked {font-weight:700;}
[class^="dsigChk"].checked input[type="checkbox"] {background-position:left bottom;}

/* design radio box */
[class^="dsigRadio"] {display:inline-block;position:relative;padding:0 0 0 20px;line-height:20px;font-size:13px;color:#131313;}
[class^="dsigRadio"] + [class^="dsigRadio"] {margin:0 0 0 26px;}
[class^="dsigRadio"] input[type="radio"] {position:absolute;left:0;top:1px;width:15px;height:15px;background-image:url('../../images/daks/ico_radiobox.png');background-repeat:no-repeat;background-position:left top;}
[class^="dsigRadio"].checked {font-weight:700;}
[class^="dsigRadio"].checked input[type="radio"] {background-position:left bottom;}

/* design select box */
[class^="selectWrap"] {display:inline-block;position:relative;text-align:left;z-index:10;}
[class^="selectWrap"] > button {height:37px;padding:0 20px 0 0;font-size:18px;font-weight:400;text-align:left;border-bottom:1px solid #1d1d1d;background:url('../../images/daks/bg_select_arrow.png') no-repeat right 15px;}
[class^="selectWrap"]:hover > button {background:url('../../images/daks/bg_select_arrow.png') no-repeat right -22px;}
[class^="selectWrap"] .optList {display:none;position:absolute;right:0;top:36px;padding:10px 0;border:1px solid #ccc;background-color:#fff;}
[class^="selectWrap"] .optList li a {display:block;min-width:130px;padding:0 20px;line-height:35px;font-size:14px;color:#555;}
[class^="selectWrap"] .optList li:hover a {font-weight:700;color:#000;}
/* [class^="selectWrap"] .optList li.selected a {font-weight:700;color:#000;} */

.selectWrap02 > button {height:54px;border-bottom:none;background:url('../../images/daks/bg_sort.png') no-repeat right center;}
.selectWrap02:hover > button {height:54px;border-bottom:none;background:url('../../images/daks/bg_sort.png') no-repeat right center;}
.selectWrap02 .optList {top:54px;}

/* 리스트 상단 정보 영역 */
[class^="listInfoWrap"] {box-sizing:border-box;max-width:1200px;max-width:1920px;margin:50px auto 0;padding:0 50px;}
[class^="listInfoWrap"]:after {display:block;content:"";clear:both;overflow:hidden;width:0;height:0;line-height:0;}
[class^="listInfoWrap"] .listTotal {float:left;line-height:34px;font-size:24px;font-weight:700;color:#1d1d1d;}
[class^="listInfoWrap"] .listTotal span {display:inline-block;margin:0 0 0 5px;font-size:15px;font-weight:400;color:#999;}
[class^="listInfoWrap"] .sortBox {float:right;}
[class^="listInfoWrap"] .sortBox [class^="selectWrap"] > button {width:130px;}

/* top visual area */
[class^="subVisualWrap"] {position:relative;}
[class^="subVisualWrap"] .img {display:block;position:relative;left:50%;width:1920px;transform:translate(-50%, 0);}
[class^="subVisualWrap"] .img img {width:100%;}
[class^="subVisualWrap"] .visualDescBox {position:absolute;left:50%;top:50%;box-sizing:border-box;width:1200px;padding:0 0 0 163px;line-height:69px;font-size:65px;font-weight:800;color:#fff;transform:translate(-50%, -50%);}

/* 리스트 카테고리 영역 */
[class^="cateListInfoWrap"] {width:1200px;margin:50px auto 0;}
[class^="cateListInfoWrap"] .cateList {overflow:hidden;}
[class^="cateListInfoWrap"] .cateList + .cateList {margin:10px 0 0;padding:10px 0 0;border-top:1px solid #d3d3d3;}
[class^="cateListInfoWrap"] .cateList ul {margin:0 -47px 0 0;}
[class^="cateListInfoWrap"] .cateList ul:after {display:block;content:"";clear:both;overflow:hidden;width:0;height:0;line-height:0;}
[class^="cateListInfoWrap"] .cateList ul li {float:left;margin:0 47px 0 0;padding:14px 0;}
[class^="cateListInfoWrap"] .cateList ul li a {display:block;line-height:20px;font-size:15px;color:#5a5a5a;}
[class^="cateListInfoWrap"] .cateList ul li.on a {font-weight:600;color:#000;}
[class^="cateListInfoWrap"] .sortBox {padding:50px 0 0;text-align:right;border-top:2px solid #1d1d1d;}
[class^="cateListInfoWrap"] .cateList + .sortBox {margin:10px 0 0;}

/* 기본 카드 스타일 */
[class^="cardBox"] {display:block;}
[class^="cardBox"] .img {display:block;position:relative;}
[class^="cardBox"] .img img {width:100%;}
[class^="cardBox"] .info {display:block;height:200px;margin:30px 0 0;padding:0 10px;}
[class^="cardBox"] .info .date {display:block;font-size:14px;font-weight:800;color:#999;}
[class^="cardBox"] .info .name {display:block;line-height:28px;font-size:18px;font-weight:700;color:#000;}
[class^="cardBox"] .info .more {display:block;line-height:25px;font-size:12px;font-weight:800;color:#000;}
[class^="cardBox"] .info .more em {display:inline-block;border-bottom:1px solid #000;}
[class^="cardBox"] .info .date + .name {margin:10px 0 0;}
[class^="cardBox"] .info .name + .more {margin:10px 0 0;}

/* 기본리스트 */
[class^="clmnListBox"] {box-sizing:border-box;max-width:1200px;max-width:1920px;margin:30px auto 0;padding:0 50px;}
[class^="clmnListBox"]:last-child {margin:30px auto -100px;}
[class^="clmnListBox"] .inner {overflow:hidden;}
[class^="clmnListBox"] .inner ul {margin:0 -2.5% 0 0;}
[class^="clmnListBox"] .inner ul:after {display:block;content:"";clear:both;overflow:hidden;width:0;height:0;line-height:0;}
[class^="clmnListBox"] .inner ul li {float:left;box-sizing:border-box;width:33%;padding:0 1.5% 0 0;}

/* 상품 카드 스타일 */
[class^="prdCardBox"] {display:block;}
[class^="prdCardBox"] .img {display:block;position:relative;}
[class^="prdCardBox"] .img:before {display:block;content:"";position:absolute;left:0;top:0;right:0;bottom:0;background-color:rgba(0, 0, 0, 0.04);}
[class^="prdCardBox"] .img .flagNum {position:absolute;left:0;top:0;width:50px;height:50px;line-height:50px;font-size:30px;font-weight:600;color:#fff;text-align:center;background-color:#0b0b0b;z-index:1;}
[class^="prdCardBox"] .img img {width:100%;}
[class^="prdCardBox"] .info {display:block;height:200px;margin:30px 0 0;padding:0 10px;}
[class^="prdCardBox"] .info .name {display:block;overflow:hidden;line-height:20px;font-size:16px;font-weight:300;text-overflow:ellipsis;white-space:nowrap;}
[class^="prdCardBox"] .info .name02 {display:block;overflow:hidden;line-height:20px;font-size:18px;font-weight:400;color:#333;text-overflow:ellipsis;white-space:nowrap;}
[class^="prdCardBox"] .info .price {display:block;position:relative;margin:15px 0 0;line-height:20px;color:#999;}
[class^="prdCardBox"] .info .price .per {display:inline-block;font-size:16px;color:#1d1d1d;font-weight:600;vertical-align:middle;}
[class^="prdCardBox"] .info .price .sale {display:inline-block;font-size:16px;font-weight:600;color:#1d1d1d;vertical-align:middle;}
[class^="prdCardBox"] .info .price .net {display:inline-block;font-size:16px;vertical-align:middle;text-decoration:line-through;}
[class^="prdCardBox"] .info .price .per + .sale,
[class^="prdCardBox"] .info .price .sale + .net,
[class^="prdCardBox"] .info .price .net + .per {margin:0 0 0 10px;}
[class^="prdCardBox"] .shopBtn {display:block;margin:15px 0 0;text-align:center;}
[class^="prdCardBox"] .shopBtn span {display:inline-block;font-size:12px;font-weight:500;color:#444;border-bottom:1px solid #444;}
[class^="prdCardBox"].soldout .img .sold_out {position:absolute;left:0;top:0;right:0;bottom:0;background-color:rgba(255, 255, 255, 0.6);}
[class^="prdCardBox"].soldout .img .sold_out em {display:block;position:absolute;left:50%;top:50%;line-height:30px;font-size:20px;font-weight:600;border-bottom:2px solid #030303;white-space:nowrap;transform:translate(-50%, -50%);}

/* 상품 리스트 */
[class^="itemListWrap"] {width:1200px;margin:40px auto 0;}
[class^="itemListWrap"]:last-child {margin:30px auto -100px;}
[class^="itemListWrap"] .inner {overflow:hidden;}
[class^="itemListWrap"] .inner ul {margin:0 -20px 0 0;}
[class^="itemListWrap"] .inner ul:after {display:block;content:"";clear:both;overflow:hidden;width:0;height:0;line-height:0;}
[class^="itemListWrap"] .inner ul li {float:left;box-sizing:border-box;width:25%;padding:0 20px 0 0;}
[class^="itemListWrap"] .inner ul li.bigCard {width:50%;}

/* stories banner list */
[class^="cmpgWrap"] {overflow:hidden;min-width:1200px;position:relative;}
[class^="cmpgWrap"]:last-child {margin:0 0 -140px;}
[class^="cmpgWrap"] a {display:block;}
[class^="cmpgWrap"] a .img {display:block;position:relative;left:50%;width:1920px;transform:translate(-50%, 0);}
[class^="cmpgWrap"] .banner-title {position:absolute;left:0;right:0;top:330px;color:#000;text-align:center;transform:translate(0, -50%);}
[class^="cmpgWrap"] .banner-title strong {display:block;line-height:78px;font-size:68px;font-weight:800;letter-spacing:3.38px;}
[class^="cmpgWrap"] .banner-title p {margin-top: 30px;line-height: 38px;font-size: 28px;}
[class^="cmpgWrap"] .banner-title .view_more {display:inline-block;margin-top:40px;padding:11px 36px;border:1px solid #000;font-size:15px;font-weight:800;line-height:25px;}
[class^="cmpgWrap"] .banner-title.white {color:#fff;}
[class^="cmpgWrap"] .banner-title.white .view_more {border:1px solid #fff;}
.cmpgWrap02 + .cmpgWrap02 {margin:140px 0 0;}
.cmpgWrap02 + .cmpgWrap02:last-child {margin:140px 0 -140px;}

/* stories speacial lookbook */
[class^="LBookWrwap"] {width:1150px;margin:100px auto 0;}
[class^="LBookWrwap"] .full_slide .slick-swipe-prev {top:auto;left:auto;right:87px;bottom:0;width:88px;height:80px;margin:0;background:url('../../images/daks/btn-lookbook-slider.gif') no-repeat left top;}
[class^="LBookWrwap"] .full_slide .slick-swipe-prev span {overflow:hidden;width:0;height:0;line-height:0;border:none;}
[class^="LBookWrwap"] .full_slide .slick-swipe-next {top:auto;right:0;bottom:0;width:87px;height:80px;margin:0;background:url('../../images/daks/btn-lookbook-slider.gif') no-repeat right top;}
[class^="LBookWrwap"] .full_slide .slick-swipe-next span {overflow:hidden;width:0;height:0;line-height:0;border:none;}

/**********************************************************
	컨텐츠 화면  관련소스
**********************************************************/
/* 연관상품 영역 */
[class^="relatePrdWrap"] {width:1200px;margin:100px auto 0;}
[class^="relatePrdWrap"] .relateSortBox {position:relative;padding:0 40px;border-top:1px solid #d3d3d3;border-bottom:2px solid #1d1d1d;}
[class^="relatePrdWrap"] .relateSortBox .sortOptBtn button {position:relative;height:54px;padding:0 22px 0 0;font-size:16px;color:#353535;}
[class^="relatePrdWrap"] .relateSortBox .sortOptBtn button + button {margin:0 0 0 25px;}
[class^="relatePrdWrap"] .relateSortBox .sortOptBtn button:before {display:block;content:"";position:absolute;right:4px;top:50%;width:2px;height:10px;margin:-5px 0 0;background-color:#353535;}
[class^="relatePrdWrap"] .relateSortBox .sortOptBtn button:after {display:block;content:"";position:absolute;right:0;top:50%;width:10px;height:2px;margin:-1px 0 0;background-color:#353535;}
[class^="relatePrdWrap"] .relateSortBox .sortOptBtn button.active {font-weight:700;}
[class^="relatePrdWrap"] .relateSortBox .sortOptBtn button.active:before {display:none;}

[class^="relatePrdWrap"] .relateSortBox .sortOptSelect {display:none;position:relative;margin:0 -40px;padding:0 40px 25px;border-top:1px solid #d3d3d3;}
[class^="relatePrdWrap"] .relateSortBox .sortOptSelect .optListBox {overflow:hidden;padding:30px 250px 0 0;}
[class^="relatePrdWrap"] .relateSortBox .sortOptSelect .optListBox .optList {display:none;margin:-15px 0 0 -25px;}
[class^="relatePrdWrap"] .relateSortBox .sortOptSelect .optListBox .optList [class^="dsigChk"] {margin:15px 0 0 25px;}
[class^="relatePrdWrap"] .relateSortBox .sortOptSelect .optListBox .optList [class^="dsigRadio"] {margin:15px 0 0 25px;}

[class^="relatePrdWrap"] .relateSortBox .sortOptSelect .optTags {margin:25px 0 0;}
[class^="relatePrdWrap"] .relateSortBox .sortOptSelect .optTags a {display:inline-block;position:relative;padding:2px 30px 0 10px;line-height:20px;font-size:13px;color:#131313;border:1px solid #747774;}
[class^="relatePrdWrap"] .relateSortBox .sortOptSelect .optTags a + a {margin:0 0 0 10px;}
[class^="relatePrdWrap"] .relateSortBox .sortOptSelect .optTags a:after {display:block;content:"";position:absolute;right:10px;top:50%;width:10px;height:10px;margin:-5px 0 0;background:url('../../images/daks/ico_del.jpg') no-repeat center;}

[class^="relatePrdWrap"] .relateSortBox .sortOptSelect .optConfirmBox {position:absolute;right:40px;top:20px;}
[class^="relatePrdWrap"] .relateSortBox .sortOptSelect .optConfirmBox button {width:118px;height:38px;font-size:14px;}
[class^="relatePrdWrap"] .relateSortBox .sortOptSelect .optConfirmBox .cancle {color:#030303;border:1px solid #c3c3c3;background-color:#fff;}
[class^="relatePrdWrap"] .relateSortBox .sortOptSelect .optConfirmBox .confirm {color:#fff;border:1px solid #000;background-color:#000;}

[class^="relatePrdWrap"] .sortBox {position:absolute;right:40px;top:0;}
[class^="relatePrdWrap"] .relateSortBox + [class^="itemListWrap"] {margin:50px 0 0;}

/* 하단 연관상품 슬라이드박스 - iconic */
[class^="relateSlideWrap"] {width:1200px;margin:100px auto 0;}
[class^="relateSlideWrap"] .titleBox {display:block;margin:0 0 50px;line-height:50px;font-size:40px;font-weight:800;text-align:center;}
[class^="relateSlideWrap"] .prod_slide {position:relative;}
[class^="relateSlideWrap"] .prod_slide .slide_wrap {padding:0 0 100px;}
[class^="relateSlideWrap"] .prod_slide .slide_wrap [class^="prdCardBox"] .info {height:auto;}
[class^="relateSlideWrap"] .prod_slide .slick-cntrl {position:absolute;left:50%;bottom:0;transform:translate(-50%, 0);}
[class^="relateSlideWrap"] .prod_slide .slick-cntrl button {float:left;width:88px;height:80px;background-image:url('../../images/daks/btn_common_slider-white.png');background-repeat:no-repeat;}
[class^="relateSlideWrap"] .prod_slide .slick-cntrl button.slick-swipe-prev {background-position:0 0;}
[class^="relateSlideWrap"] .prod_slide .slick-cntrl button.slick-swipe-next {background-position:-89px 0;}
[class^="relateSlideWrap"] .prod_slide .slick-cntrl button span {display:block;overflow:hidden;width:0;height:0;line-height:0;}

/* 하단 페이지 백 버튼 - iconic */
[class^="cmpgPageBackWrap"] {width:1200px;margin:50px auto 0;padding:10px 0 0;border-top:1px solid #000;}
[class^="relatePrdWrap"] + [class^="cmpgPageBackWrap"] {margin:50px auto 0;}
[class^="cmpgPageBackWrap"] .backBtn {display:inline-block;position:relative;padding:0 0 0 15px;line-height:34px;font-size:14px;font-weight:700;color:#000;}
[class^="cmpgPageBackWrap"] .backBtn:after {display:block;content:"";position:absolute;left:0;top:50%;width:7px;height:7px;border-left:1px solid #000;border-top:1px solid #000;transform:translate(0, -50%) rotate(-45deg);}

/**********************************************************
	brand mall 공통화면 소스
**********************************************************/
/* 공지사항 리스트 */
.notiListwrap {margin-top:120px;}
.notiListwrap ul {width:1030px;margin:0 auto;border-bottom:1px solid #d3d3d3;}
.notiListwrap ul li {overflow:hidden;border-top:1px solid #d3d3d3;}
.notiListwrap ul li a {display:block;position:relative;padding:44px 120px 44px 20px;}
.notiListwrap ul li a strong {display:block;overflow:hidden;width:100%;line-height:24px;font-weight:400;font-size:20px;color:#000;white-space:nowrap;text-overflow:ellipsis;}
.notiListwrap ul li a strong span {border-bottom:1px solid #fff;}
.notiListwrap ul li a:hover strong span {border-bottom:1px solid #030303;}
.notiListwrap ul li .date {display:block;position:absolute;right:20px;top:50%;width:80px;height:24px;margin:-12px 0 0;line-height:24px;font-size:15px;color:#666;text-align:center;}

/* notice detail 상단 제목 영역  */
[class^="noticeTopWrap"] {position:relative;width:1240px;margin:60px auto 100px;padding:60px 0 0;}
[class^="noticeTopWrap"] .tit {display:block;padding:60px 0 0;line-height:50px;font-size:40px;font-weight:400;border-top:1px solid #d3d3d3;text-align:center;}
[class^="noticeTopWrap"] .date {display:block;margin:20px 0 0;line-height:28px;font-size:18px;text-align:center;}
[class^="noticeTopWrap"] .date span {display:inline-block;padding:0 0 5px;border-bottom:1px solid #1c1c1c;}
[class^="noticeTopWrap"] .goNotiListBtn {display:block;overflow:hidden;position:absolute;right:0;top:0;width:60px;height:60px;text-indent:-9999px;}
[class^="noticeTopWrap"] .goNotiListBtn:after {display:block;content:"";position:absolute;left:50%;top:50%;width:14px;height:14px;margin:-7px 0 0 -7px;background:url('../../images/daks/common/bg_btn_list.png') no-repeat -9px 0;}

/* EDIT 박스 */
[class^="editViewWrap"] {margin:0;}
[class^="pageTitBox"] + [class^="editViewWrap"],
[class^="visualTopWrap"] + [class^="editViewWrap"] {margin:120px auto 0;}
[class^="editViewWrap"] .inner {width:1240px;margin:0 auto;}
.editViewWrap02 .img {display:block;padding:70px 0;}
.editViewWrap02 .img:last-child {padding:70px 0 0;}
.editViewWrap03 .img {display:block;padding:70px 0;}
.editViewWrap03 .img:last-child {padding:70px 0 0;}
.editViewWrap03 .img img {max-width:100%;}

/* 이벤트, 기획전, 매거진 등등 상세 화면 하단 버튼박스 */
[class^="pageBtnWrap"] {box-sizing:border-box;min-width:1240px;max-width:1904px;margin:80px auto 0;padding:0 50px;border-top:1px solid #e3e3e3;}
[class^="pageBtnWrap"]:last-child {margin:140px pageBtnWrap -140px;}
[class^="pageBtnWrap"] .inner {position:relative;height:80px;padding:0 40px;text-align:center;}
[class^="pageBtnWrap"] .list {display:inline-block;position:relative;padding:0 0 0 20px;}
[class^="pageBtnWrap"] .list:after {display:block;content:"";position:absolute;left:0;top:50%;width:14px;height:14px;margin:-7px 0 0;background:url('../../images/daks/common/bg_btn_list.png') no-repeat -9px 0;}
[class^="pageBtnWrap"] .list span {display:block;line-height:80px;}
[class^="pageBtnWrap"] .prev {display:block;position:absolute;left:0;top:0;padding:0 0 0 20px;}
[class^="pageBtnWrap"] .prev:after {display:block;content:"";position:absolute;left:0;top:50%;width:9px;height:14px;margin:-7px 0 0;background:url('../../images/daks/common/bg_btn_list.png') no-repeat 0 0;}
[class^="pageBtnWrap"] .prev span {display:block;line-height:80px;}
[class^="pageBtnWrap"] .next {display:block;position:absolute;right:0;top:0;padding:0 20px 0 0;}
[class^="pageBtnWrap"] .next:after {display:block;content:"";position:absolute;right:0;top:50%;width:9px;height:14px;margin:-7px 0 0;background:url('../../images/daks/common/bg_btn_list.png') no-repeat -23px 0;}
[class^="pageBtnWrap"] .next span {display:block;line-height:80px;}

/* 매장찾기 custom */
.lf-store-search {position:relative;height:720px;margin:120px 0 0;font-size:15px;box-sizing:border-box;background:#ddd;}
.lf-store-search__container {position:absolute;top:30px;bottom:30px;left:40px;z-index:100;width:400px;padding:20px;background:#fff;box-shadow:5px 5px 10px rgba(0, 0, 0, 0.15);box-sizing:border-box;}
.lf-store-search__form {margin-left:-5px;}
.lf-store-search__form-sido-gugun, .lf-store-search__form-search, .lf-store-search__form-submit {padding-top:10px;}
.lf-store-search__form-submit {padding-left:5px;}
.lf-store-search__form-field {padding-left:5px;box-sizing:border-box;}
.lf-store-search__form-type-brand .lf-store-search__form-field, .lf-store-search__form-sido-gugun .lf-store-search__form-field {float:left;width:50%;}
.lf-store-search__form-type-brand:after, .lf-store-search__form-sido-gugun:after {display:block;clear:both;content:'';}
.lf-store-search .lf-store-select {position:relative;}
.lf-store-search .lf-store-select__container {position:relative;}
.lf-store-search .lf-store-select__selected-button {display:block;position:relative;width:100%;height:40px;padding-right:40px;border-radius:0;border:1px solid #e8e8e8;background:#f9f9f9;color:#333;text-align:left;box-sizing:border-box;appearance:none;}
.lf-store-search .lf-store-select__selected-button:before {position:absolute;top:calc(50% - 2px);right:12px;width:0;height:0;border:5px solid;border-color:#333 transparent transparent;border-bottom:0;content:"";transition:transform 0.4s ease;}
.lf-store-search .lf-store-select__selected-text {display:block;overflow:hidden;padding:0 15px;background:#fff;line-height:38px;white-space:nowrap;text-overflow:ellipsis;}
.lf-store-search .lf-store-select__selectbox {position:absolute;top:40px;left:0;width:100%;height:0;border:1px solid transparent;border-top:0;box-sizing:border-box;}
.lf-store-search .lf-store-select__selectbox-container {overflow:hidden;overflow-y:auto;height:100%;background:#fff;}
.lf-store-search .lf-store-select__selectbox-option {display:block;position:relative;height:40px;cursor:pointer;}
.lf-store-search .lf-store-select__selectbox-check {position:absolute;z-index:-1;}
.lf-store-search .lf-store-select__selectbox-text {display:block;overflow:hidden;position:relative;height:100%;padding:0 15px;background:#fff;font-size:13px;line-height:40px;box-sizing:border-box;white-space:nowrap;text-overflow:ellipsis;transition:all 0.6s ease;}
.lf-store-search .lf-store-select__selectbox-option + .lf-store-select__selectbox-option {border-top:1px solid #e8e8e8;}
.lf-store-search .lf-store-select__selectbox-option:hover .lf-store-select__selectbox-text {background:#f9f9f9;color:#d9232e;}
.lf-store-search .lf-store-select--active {z-index:10;}
.lf-store-search .lf-store-select--active .lf-store-select__selected-button {border-color:#333 #333 #e8e8e8;}
.lf-store-search .lf-store-select--active .lf-store-select__selected-button:before {transform:rotate(180deg);}
.lf-store-search .lf-store-select--active .lf-store-select__selectbox {height:580px;border-color:#333;}
.lf-store-search .lf-store-select--select:before, .lf-store-search .lf-store-select--select:after {position:absolute;content:"";pointer-events:none;}
.lf-store-search .lf-store-select--select:before {top:calc(50% - 2px);right:13px;z-index:1;width:0;height:0;border:5px solid;border-color:#333 transparent transparent;border-bottom:0;transition:transform 0.4s ease;}
.lf-store-search .lf-store-select--select:after {top:1px;right:1px;bottom:1px;width:40px;background:#f9f9f9;}
.lf-store-search .lf-store-select--select .lf-store-select__selectbox {position:static;height:40px;padding:0 55px 0 15px;border-radius:0;border:1px solid #e8e8e8;background:#fff;color:#333;text-align:left;box-sizing:border-box;appearance:none;}
.lf-store-search__form-sido-gugun .lf-store-select--active .lf-store-select__selectbox {height:530px;border-color:#333;}
.lf-store-search__search-word, .lf-store-search__submit {display:block;width:100%;height:40px;border-radius:0;box-sizing:border-box;}
.lf-store-search__search-word {padding-left:15px;border:1px solid #e8e8e8;line-height:38px;}
.lf-store-search__submit {position:relative;border:0;background:#333;color:#fff;line-height:40px;}
.lf-store-search__submit:after {position:absolute;top:calc(50% - 5px);right:17px;width:6px;height:6px;border-width:2px 2px 0 0;border-style:solid;content:"";transform:rotate(45deg);}
.lf-store-search__list {height:calc(100% - 200px);padding-top:10px;}
.lf-store-search__total {height:39px;padding-left:20px;color:#333;line-height:39px;border-bottom:1px solid #e8e8e8;}
.lf-store-search__total-number {color:#d9232e;}
.lf-store-search__items {overflow:hidden;overflow-y:auto;height:calc(100% - 40px);}
.lf-store-search__items::-webkit-scrollbar {width:5px;background:#d8d8d8;}
.lf-store-search__items::-webkit-scrollbar-thumb, .lf-store-search__items::-webkit-scrollbar-track {border-radius:0;box-shadow:none;}
.lf-store-search__items::-webkit-scrollbar-thumb {background:#666;}
.lf-store-search__items::-webkit-scrollbar-track {background:#d8d8d8;}
.lf-store-search__item {display:block;position:relative;padding:20px 60px 20px 20px;color:#666;font-size:13px;}
.lf-store-search__item:before, .lf-store-search__item:after {position:absolute;content:"";}
.lf-store-search__item:before {top:calc(50% - 19px);right:20px;width:14px;height:14px;border-radius:15px;border:8px solid #bbb;}
.lf-store-search__item:after {top:calc(50% + 4px);right:22px;width:0;height:0;border-width:15px 13px 0;border-style:solid;border-color:#bbb transparent;}
.lf-store-search__item-title {color:#333;font-weight:600;font-size:15px;}
.lf-store-search__item-type {padding-bottom:8px;}
.lf-store-search__item:hover:before {border-color:#d9232e;}
.lf-store-search__item:hover:after {border-top-color:#d9232e;}
.lf-store-search__item + .lf-store-search__item {border-top:1px solid #ebebeb;}
.lf-store-search__map {position:absolute;top:0;right:0;bottom:0;left:0;}
.lf-store-search__map-container {height:100%;}
.lf-store-search__infowindow {position:relative;width:260px;padding:0 20px 20px;font-size:13px;background-color:#fff;box-shadow:5px 5px 10px rgba(0, 0, 0, 0.15);}
.lf-store-search__infowindow-title {margin:0 -20px;padding:12px 50px 0 20px;color:#333;font-weight:600;font-size:16px;line-height:20px;}
.lf-store-search__infowindow-type {padding-top:5px;padding-bottom:12px;border-bottom:1px solid #d8d8d8;}
.lf-store-search__infowindow-address {padding-top:20px;}
.lf-store-search__infowindow-phone {display:inline-block;text-decoration:underline;}
.lf-store-search__infowindow-add-title {padding-top:5px;color:#333;font-weight:600;font-size:14px;}
.lf-store-search__infowindow-close {display:none;overflow:hidden;position:absolute;top:0;right:0;}
.lf-store-search__infowindow-close-button {position:relative;width:44px;height:44px;border:0;background:transparent;}
.lf-store-search__infowindow-close-button:before, .lf-store-search__infowindow-close-button:after {position:absolute;top:calc(50% - 1px);left:calc(50% - 11px);width:22px;height:2px;background:#333;content:"";}
.lf-store-search__infowindow-close-button:before {transform:rotate(45deg);}
.lf-store-search__infowindow-close-button:after {transform:rotate(-45deg);}
.lf-store-search__infowindow-close-text {color:transparent;}
.lf-store-search__load {display:none;position:absolute;top:0;left:0;z-index:100;width:100%;height:100%;background:rgba(0, 0, 0, 0.7);}
.lf-store-search--load .lf-store-search__load {display:block;}

/**********************************************************
	slick
**********************************************************/
.full_slide {position:relative;}
.full_slide .slideItem a {display:block;overflow:hidden;}
.full_slide .slideItem a span {display:inline-block;position:relative;left:50%;transform:translate(-50%, 0);vertical-align:top;}
.full_slide .slideItem a span img {width:auto;max-width:auto;vertical-align:top;}
.full_slide .cmpgWrap02 {margin:0;}
.full_slide .cmpgWrap02 + .cmpgWrap02 {margin:0;}
.full_slide .cmpgWrap02 + .cmpgWrap02:last-child {margin:0;}
.full_slide .cmpgWrap02 .banner-title{top:50%;}
.full_slide .slick-dots {position:absolute;bottom:40px;left:0;right:0;text-align:center;}
.full_slide .slick-dots li {display:inline-block;line-height:0;}
.full_slide .slick-dots li + li {margin:0 0 0 10px;}
.full_slide .slick-dots li button {overflow:hidden;position:relative;width:10px;height:10px;border-radius:100%;background-color:rgba(255, 255, 255, 0.4);text-indent:-999em;}
.full_slide .slick-dots li.slick-active button {background-color:#fff;}
.full_slide .slick-swipe-prev {position:absolute;left:100px;top:50%;box-sizing:border-box;width:80px;height:80px;margin:-40px 0 0;padding:30px 0 0;font-size:14px;font-weight:700;color:#fff;text-align:center;z-index:1;}
.full_slide .slick-swipe-prev span {display:inline-block;padding:0 5px;line-height:20px;border-bottom:2px solid #fff;}
.full_slide .slick-swipe-next {position:absolute;right:100px;top:50%;box-sizing:border-box;width:80px;height:80px;margin:-40px 0 0;padding:30px 0 0;font-size:14px;font-weight:700;color:#fff;text-align:center;z-index:1;}
.full_slide .slick-swipe-next span {display:inline-block;padding:0 5px;line-height:20px;border-bottom:2px solid #fff;}

.prod_slide .slide_wrap {position:relative;box-sizing:border-box;padding:0 74px 100px;}
.prod_slide .slide_wrap .slick-slide .prdCardBox {width:95%;margin:0 auto;}
.prod_slide .slide_wrap .slick-prev {overflow:hidden;position:absolute;left:0;top:35%;width:74px;height:108px;margin:-54px 0 0;text-indent:-999em;}
.prod_slide .slide_wrap .slick-prev:after {display:block;content:"";position:absolute;left:50%;top:50%;width:34px;height:68px;margin:-34px 0 0 -17px;background:url('../../images/daks/btn_slide_arrow.png') no-repeat 0 0;}
.prod_slide .slide_wrap .slick-next {overflow:hidden;position:absolute;right:0;top:35%;width:74px;height:108px;margin:-54px 0 0;text-indent:-999em;}
.prod_slide .slide_wrap .slick-next:after {display:block;content:"";position:absolute;left:50%;top:50%;width:34px;height:68px;margin:-34px 0 0 -17px;background:url('../../images/daks/btn_slide_arrow.png') no-repeat -34px 0;}
.prod_slide .slick-dots {position:absolute;bottom:0;left:0;right:0;text-align:center;}
.prod_slide .slick-dots li {display:inline-block;line-height:0;}
.prod_slide .slick-dots li button {overflow:hidden;position:relative;width:34px;height:13px;text-indent:-999em;}
.prod_slide .slick-dots li button:after {display:block;content:"";position:absolute;left:50%;top:50%;width:23px;height:3px;background-color:rgba(0, 0, 0, 0.4);transform:translate(-50%, -50%);}
.prod_slide .slick-dots li.slick-active button:after {background-color:#000;}