@charset "utf-8";

/* noto-sans-kr-300 - latin */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src:
		url('../../font/noto-sans-kr-v11-korean_latin-300.woff') format('woff'), /* Modern Browsers */
		url('../../font/noto-sans-kr-v11-korean_latin-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-regular - latin */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src:
		url('../../font/noto-sans-kr-v11-korean_latin-regular.woff') format('woff'), /* Modern Browsers */
		url('../../font/noto-sans-kr-v11-korean_latin-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-500 - latin */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: 
		url('../../font/noto-sans-kr-v11-korean_latin-500.woff') format('woff'), /* Modern Browsers */
		url('../../font/noto-sans-kr-v11-korean_latin-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - latin */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src:
		url('../../font/noto-sans-kr-v11-korean_latin-700.woff') format('woff'), /* Modern Browsers */
		url('../../font/noto-sans-kr-v11-korean_latin-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

/* nunito-sans-200 - latin */
@font-face {
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 200;
src: 
	url('../../font/nunito-sans-v4-latin-200.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-300 - latin */
@font-face {
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 300;
src:
	url('../../font/nunito-sans-v4-latin-300.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-regular - latin */
@font-face {
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
src:
	url('../../font/nunito-sans-v4-latin-regular.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-600 - latin */
@font-face {
font-family: 'Nunito Sans';
font-style: normal;
/* font-weight: 600; */
font-weight: 500;/* notosans kr font-weight 맞춤 */
src:
	url('../../font/nunito-sans-v4-latin-600.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-700 - latin */
@font-face {
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 700;
src:
	url('../../font/nunito-sans-v4-latin-700.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-800 - latin */
@font-face {
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 800;
src:
	url('../../font/nunito-sans-v4-latin-800.svg#NunitoSans') format('svg'); /* Legacy iOS */
}

/* Nanum Gothic 400 */
@font-face {
font-family: 'Nanum Gothic';
font-style: normal;
font-weight: 400;
src: url('../../font/NanumGothic-Regular.eot'); /* IE9 Compat Modes */
src: local('Nanum Gothic Regular'), local('NanumGothic-Regular'),
	url('../../font/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../font/NanumGothic-Regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../font/NanumGothic-Regular.woff') format('woff'), /* Modern Browsers */
	url('../../font/NanumGothic-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../font/NanumGothic-Regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
}