@charset "utf-8";

/**********************************************************
	MAIN
**********************************************************/
[class^="main_area"] {margin:50px 0 0;}
[class^="main_area"]:first-child {margin:0;}
[class^="main_area"] .tit {display:block;margin:0 0 25px;line-height:28px;font-size:18px;text-align:center;}
[class^="main_area"] .visualTopWrap .visualItem {overflow:hidden;position:relative;width:100%;height:114.6666vw;background-position:center;background-repeat:no-repeat;background-size:cover;}
[class^="main_area"] .visualTopWrap .visualItem .visualInfo {position:absolute;left:20px;right:20px;top:9.3vw;word-break:keep-all;}
[class^="main_area"] .visualTopWrap .visualItem .visualInfo .prdName {display:block;margin:0 0 5px;line-height:20px;font-size:13px;font-weight:500;}
[class^="main_area"] .visualTopWrap .visualItem .visualInfo .title {display:-webkit-box;overflow:hidden;line-height:36px;font-size:26px;font-weight:500;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
[class^="main_area"] .visualTopWrap .visualItem .visualInfo .copy {display:-webkit-box;overflow:hidden;margin:5px 0 0;line-height:20px;font-size:13px;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
[class^="main_area"] .visualTopWrap .visualItem .visualInfo .linkBox {margin:10px 0 0;}
[class^="main_area"] .visualTopWrap .visualItem .visualInfo .linkBox a {display:block;width:200px;text-align:center;}
[class^="main_area"] .visualTopWrap .visualItem .visualInfo .linkBox a + a {margin:10px 0 0;}
[class^="main_area"] .visualTopWrap .visualItem .visualInfo .linkBox a span {display:block;height:40px;line-height:40px;font-size:13px;}

[class^="main_area"] .promMainWrap {overflow:hidden;}
[class^="main_area"] .promMainWrap .tit {display:block;overflow:hidden;margin:0 30px;line-height:28px;font-size:18px;color:#000;text-align:center;text-overflow:ellipsis;white-space:nowrap;}
[class^="main_area"] .promMainWrap .cmtSlideWrap .swiper-ctrl {position:absolute;top:0;left:0;right:0;margin:0;}
[class^="main_area"] .promMainWrap .cmtSlideWrap .swiper-ctrl button {background-color:#f4f4f4;}
[class^="main_area"] .promMainWrap .itemListWrap {margin:25px 0 0;text-align:center;}
[class^="main_area"] .promMainWrap .promBanBox {margin:25px 0 0;text-align:center;}
[class^="main_area"] .promMainWrap .promBanBox li {margin:35px 0 0;}
[class^="main_area"] .promMainWrap .promBanBox li:first-child {margin:0;}

[class^="main_area"] .coverVideoBox .video {display:block;height:56.2666vw;}
[class^="main_area"] .coverVideoBox .video iframe {width:100%;height:100%;}
[class^="main_area"] .coverVideoBox .videoInfo {padding:0 20px;margin:20px 0 0;text-align:center;}
[class^="main_area"] .coverVideoBox .videoInfo .vTit {display:-webkit-box;overflow:hidden;max-height:56px;line-height:28px;font-size:18px;font-weight:700;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:keep-all;}
[class^="main_area"] .coverVideoBox .videoInfo .vCopy {display:block;max-height:96px;margin:15px 0 0;line-height:24px;font-size:14px;font-weight:300;color:#444;}
[class^="main_area"] .coverVideoBox .videoInfo .vbtn {display:block;margin:15px 0 0;}
[class^="main_area"] .coverVideoBox .videoInfo .vbtn a {display:block;height:40px;line-height:40px;font-size:13px;color:#fff;border-radius:3px;background-color:#000;}
[class^="main_area"] .coverVideoBox .videoInfo .vbtn a + a {margin:10px 0 0;}

[class^="main_area"] .mainTipList > ul > li {margin:20px 0 0;}
[class^="main_area"] .mainTipList > ul > li:first-child {margin:0;}

[class^="main_area"] .snsMainWrap {overflow:hidden;margin:0 20px;}
[class^="main_area"] .snsMainWrap .cmtSlideWrap {padding:0 0 25px;}
[class^="main_area"] .snsMainWrap a {display:block;position:relative;padding:100% 0 0;background-repeat:no-repeat;background-position:center;background-size:cover;}
/* [class^="main_area"] .snsMainWrap a img {width:100%;} */
[class^="main_area"] .snsMainWrap a:after {display:block;content:"";position:absolute;left:10px;top:10px;width:20px;height:20px;background-repeat:no-repeat;background-position:center;background-size:100% auto;}
[class^="main_area"] .snsMainWrap a.instagram:after {background-image:url('../../images/dualit/icon-sns.png');}
[class^="main_area"] .snsMainWrap a.facebook:after {background-image:url('../../images/dualit/icon-facebook.png');}
[class^="main_area"] .snsMainWrap a.blog:after {background-image:url('../../images/dualit/icon-blog.png');}


.main_area02 {padding:50px 20px;margin:0;background-color:#f4f4f4;}
.main_area03 {padding:50px 20px;margin:50px 0 0;;background-color:#f4f4f4;}
[class^="main_area"]:first-child + .main_area03,
.main_area02+ .main_area03 {margin:0;}

.main_area_cate_ban {margin:-4vw 0;}

/**********************************************************
	COMMON
**********************************************************/
/* design select box */
[class^="selectItem"] {display:inline-block;position:relative;height:40px;padding:0 15px 0 5px;font-size:12px;text-align-last:right;direction:rtl;background-color:#fff;background:url('../../images/tngt/bg_select_arrow02.png') no-repeat right center;background-size:auto 7px;}
[class^="selectItem"] + [class^="selectItem"] {margin:0 0 0 5px;}
[class^="selectItem"]:focus {border:none;outline:none;}
[class^="selectItem"] option:focus {border:none;outline:none;}
.selectItem02 {padding:0 20px 0 5px;background:url('../../images/dualit/bg_select_arrow.png') no-repeat right center;background-size:14px auto;}

/* tab */
[class^="tabWrap"] {border:1px solid #999;}
[class^="tabWrap"] .tabRow {display:table;width:100%;border-bottom:1px solid #999;}
[class^="tabWrap"] .tabRow:last-child {border-bottom:none;}
[class^="tabWrap"] .tabRow a {display:table-cell;width:50%;padding:9px 5px;line-height:20px;font-size:14px;color:#000;border-right:1px solid #999;background-color:#fff;text-align:center;word-break:keep-all;}
[class^="tabWrap"] .tabRow a:last-child {border-right:none;}
[class^="tabWrap"] .tabRow a.active {color:#fff;background-color:#000;}

.tabWrap02 > .inner {overflow:hidden;background-color:#fff;}
.tabWrap02 > .inner > ul {overflow:hidden;margin:0 -1px -1px 0;}
.tabWrap02 > .inner > ul > li {position:relative;float:left;box-sizing:border-box;width:50%;text-align:center;border-right:1px solid #999;border-bottom:1px solid #999;}
.tabWrap02 > .inner > ul > li a {display:block;padding:9px 5px;line-height:20px;font-size:14px;color:#000;background-color:#fff;word-break:keep-all;}
.tabWrap02 > .inner > ul > li a.active {color:#fff;background-color:#000;}

/* page title box */
[class^="pageTitleBox"] {margin:30px 0 0;}
[class^="pageTitleBox"] .pageTitle {line-height:40px;font-size:20px;font-weight:700;color:#000;text-align:center;}

.pageTitleBox02 {position:relative;margin:0;padding:0 50px;border-bottom:2px solid #000;}
.pageTitleBox02 .btnBack {position:absolute;top:0;left:0;width:50px;height:60px;background:url('../../images/dualit/btn_back_arrow.png') no-repeat center;background-size:12px 21px;}
.pageTitleBox02 .btnBack em {display:block;overflow:hidden;width:0;height:0;line-height:0;}
.pageTitleBox02 .pageTitle {overflow:hidden;line-height:60px;text-overflow:ellipsis;white-space:nowrap;}

/* sub 상단 비주얼 */
[class^="subVisualWrap"] .visual {display:block;margin:10px 0 -2.7vw;}
[class^="subVisualWrap"] .visual img {width:100%;}

/* 상단 정렬 박스 */
[class^="topAreaWrap"] {overflow:hidden;padding:0 5px;}
[class^="topAreaWrap"] .itemTotal {float:left;}
[class^="topAreaWrap"] .itemTotal .num {display:block;padding:10px 0;line-height:20px;font-size:13px;color:#000;}
[class^="topAreaWrap"] .sortBox {float:right;text-align:right;}

/* 서브 카테고리 리스트 메뉴 */
[class^="subCateViewWrap"] {min-height:60px;}
[class^="subCateViewWrap"] .inner {position:fixed;top:60px;left:0;right:0;background-color:#fff;z-index:250;border-bottom:2px solid #000;}
[class^="subCateViewWrap"] button {position:relative;box-sizing:border-box;width:100%;height:60px;padding:0 20px;font-size:18px;font-weight:700;color:#0a253e;text-align:center;}
[class^="subCateViewWrap"] button:after {display:block;content:"";position:absolute;right:20px;top:50%;width:21px;height:11px;margin:-6px 0 0;background:url('../../images/dualit/submenu-arrow.png') no-repeat center;background-size:100% auto;transform:rotate(180deg);}
[class^="subCateViewWrap"] button.active:after {transform:rotate(0deg);}
[class^="subCateViewWrap"] .cateListBox {display:none;}
[class^="subCateViewWrap"] .cateListBox .cmtSlideWrap {border-top:1px solid #e2e2e2;}
[class^="subCateViewWrap"] .cateListBox .cmtSlideWrap .swiper-wrapper .swiper-slide a {display:block;overflow:hidden;height:40px;padding:0 10px;line-height:40px;font-size:13px;color:#b9b9b9;}
[class^="subCateViewWrap"] .cateListBox .cmtSlideWrap .swiper-wrapper .swiper-slide.active a {color:#000;font-weight:500;}

/* 기본 카드 스타일 */
[class^="cardBox"] {display:block;position:relative;}
[class^="cardBox"] .img {display:block;}
[class^="cardBox"] .img img {width:100%;}
[class^="cardBox"] .info {box-sizing:border-box;margin:20px 0 0;padding:0 5px;}
[class^="cardBox"] .info .cate {display:block;margin:0 0 3px;font-size:10px;color:#444;}
[class^="cardBox"] .info .name {display:block;line-height:32px;font-size:23px;font-weight:700;}
[class^="cardBox"] .info .name02 {display:-webkit-box;overflow:hidden;line-height:26px;font-size:16px;font-weight:700;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:keep-all;white-space:normal;}
[class^="cardBox"] .info .desc {display:-webkit-box;overflow:hidden;margin:10px 0 0;line-height:22px;font-size:12px;color:#444;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:keep-all;white-space:normal;}
[class^="cardBox"] .info .date {display:block;margin:10px 0 0;line-height:20px;font-size:12px;color:#999;}
[class^="cardBox"] .info .view {display:block;margin:15px 0 0;line-height:19px;font-size:9px;color:#000;}
[class^="cardBox"] .info .view span {display:inline-block;padding:0 8px 0 0;border-bottom:1px solid #000;background:url('../../images/dualit/btn_more_arrow.png') no-repeat right center;background-size:4px auto;}
[class^="cardBox"] .easyLink {display:block;position:absolute;right:25px;top:50%;width:27px;height:16px;background:url('../../images/dualit/btn_link_arrow.png') no-repeat center;background-size:100% auto;transform:translate(0, -50%);}
[class^="cardBox"] .easyLink span {display:block;overflow:hidden;width:0;height:0;line-height:0;}

/* 기본 카드 리스트 */
[class^="clmnListBox"] {padding:50px 20px 60px;margin:0 0 -60px;background-color:#f4f4f4;}
[class^="clmnListBox"] .inner {overflow:hidden;}
[class^="clmnListBox"] .inner > ul {margin:-50px 0 0;}
[class^="clmnListBox"] .inner > ul > li {box-sizing:border-box;margin:50px 0 0;}

.clmnListBox02 .inner > ul {margin:-50px -15px 0 0;}
.clmnListBox02 .inner > ul > li {float:left;width:50%;padding:0 15px 0 0;}
.clmnListBox02 .noDataList {position:relative;height:calc(100vh - 400px);}
.clmnListBox02 .noDataList em {display:block;position:absolute;top:50%;left:20px;right:20px;padding:90px 0 0;line-height:26px;font-size:16px;color:#bebebe;text-align:center;background:url('../../images/dualit/ico_news_nodata.png') no-repeat center top;background-size:68px auto;transform:translate(0, -50%);}

/* 상품 카드 스타일 */
[class^="prdCardBox"] {display:block;}
[class^="prdCardBox"] .img {display:block;position:relative;}
[class^="prdCardBox"] .img .flagNum {position:absolute;left:-10px;top:15px;width:40px;height:40px;line-height:40px;font-size:20px;font-weight:600;color:#fff;text-align:center;background-color:#0b0b0b;z-index:1;}
[class^="prdCardBox"] .img img {width:100%;}
[class^="prdCardBox"] .info {display:block;height:55px;margin:10px 0 0;padding:0 5px 36px;color:#000;}
[class^="prdCardBox"] .info .name {display:-webkit-box;overflow:hidden;max-height:36px;line-height:18px;font-size:13px;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:keep-all;}
[class^="prdCardBox"] .info .name02 {display:block;overflow:hidden;line-height:21px;font-size:13px;white-space:nowrap;text-overflow:ellipsis;}
[class^="prdCardBox"] .info .price {display:block;position:relative;margin:10px 0 -18px; padding:0 0 0 25px;line-height:18px;color:#999;letter-spacing:-0.5px;text-align:right;}
[class^="prdCardBox"] .info .price .per {display:block;position:absolute;left:0;top:0;font-size:14px;color:#b82419;font-weight:500;}
[class^="prdCardBox"] .info .price .sale {display:inline-block;font-size:14px;font-weight:500;color:#000;vertical-align:top;}
[class^="prdCardBox"] .info .price .net {display:inline-block;font-size:11px;vertical-align:top;text-decoration:line-through;}
[class^="prdCardBox"] [class^="info"] .linkBox {display:block;margin:20px 0 0;text-align:center;}
[class^="prdCardBox"] [class^="info"] .linkBox span {display:block;height:40px;line-height:40px;font-size:12px;color:#fff;border-radius:3px;background-color:#000;}
[class^="prdCardBox"].soldout .img .sold_out {position:absolute;left:0;top:0;right:0;bottom:0;background-color:rgba(255, 255, 255, 0.6);}
[class^="prdCardBox"].soldout .img .sold_out em {display:block;position:absolute;left:50%;top:50%;line-height:30px;font-size:20px;font-weight:400;border-bottom:2px solid #030303;white-space:nowrap;transform:translate(-50%, -50%);}

/* 상품리스트 */
[class^="itemListWrap"] {margin:40px 0 ;}
[class^="itemListWrap"] .tit {display:-webkit-box;overflow:hidden;margin:0 20px 20px;line-height:24px;font-size:16px;font-weight:500;color:#000;text-align:center;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-break: keep-all;}
[class^="itemListWrap"] > .inner {overflow:hidden;}
[class^="itemListWrap"] > .inner > ul {overflow:hidden;margin:-20px -15px 0 0;}
[class^="itemListWrap"] > .inner > ul > li {float:left;box-sizing:border-box;width:50%;margin:20px 0 0;padding:0 15px 0 0;}

[class^="itemListWrap"] .listBtnBox {margin:35px 0 0;}
[class^="itemListWrap"] .listBtnBox a {display:block;width:160px;height:40px;margin:0 auto;line-height:40px;color:#fff;text-align:center;border-radius:3px;background-color:#000;}
[class^="itemListWrap"] .listBtnBox a span {display:inline-block;position:relative;padding:0 10px 0 0;}
[class^="itemListWrap"] .listBtnBox a span:after {display:block;content:"";position:absolute;right:0;top:50%;width:6px;height:7px;margin:-4px 0 0;background:url('../../images/dualit/btn_more.gif') no-repeat center;background-size:100% auto;}

[class^="editViewWrap"] + .itemListWrap02 {margin:40px 0 -60px;}
.itemListWrap02 {padding:35px 20px 60px;margin:0 0 -60px;background-color:#f4f4f4;}
.itemListWrap02 [class^="topAreaWrap"] {margin:0 0 25px;border-bottom:2px solid #000;}
.itemListWrap02 [class^="tabWrap"] {margin:0 0 35px;}
.itemListWrap02 .listBtnBox + [class^="tabWrap"],
.itemListWrap02 > .inner + [class^="tabWrap"] {margin:35px 0;}

/**********************************************************
	brand mall 공통화면 소스
**********************************************************/
/* 이벤트 및 프로모션 등등 상세 화면 상단 */
[class^="evtDetailTopWrap"] {position:relative;min-height:76.26vw;}
[class^="evtDetailTopWrap"] .img {overflow:hidden;position:absolute;left:0;right:0;top:0;bottom:0;}
[class^="evtDetailTopWrap"] .img:after {display:block;content:"";position:absolute;left:0;right:0;top:0;bottom:0;background-color:rgba(0, 0, 0, 0.6);}
[class^="evtDetailTopWrap"] .img img {width:auto;height:100%;}
[class^="evtDetailTopWrap"] .img > span {display:block;position:absolute;left:50%;top:0;bottom:0;transform:translate(-50%, 0);}
[class^="evtDetailTopWrap"] .evtCopy {position:relative;margin:0 20px;padding:12.8vw 0 14.66vw;color:#fff;z-index:1;}
[class^="evtDetailTopWrap"] .evtCopy:before {display:block;content:"";position:absolute;left:0;right:0;top:12.8vw;height:3px;background-color:rgba(255, 255, 255, 0.6);}
[class^="evtDetailTopWrap"] .evtCopy .date {padding:15px 0 0;font-size:14px;font-weight:700;}
[class^="evtDetailTopWrap"] .evtCopy strong {display:block;margin:3.46vw 0 0;line-height:30px;font-size:26px;font-weight:700;word-break:keep-all;}
[class^="evtDetailTopWrap"] .evtUtilBox {position:absolute;left:0;right:0;bottom:7.46vw;z-index:1;}
[class^="evtDetailTopWrap"] .evtUtilBox .inner {padding:0 10px;}
[class^="evtDetailTopWrap"] .evtUtilBox button {position:relative;width:35px;height:35px;color:#fff;}
[class^="evtDetailTopWrap"] .evtUtilBox button em {display:block;overflow:hidden;position:absolute;left:0;top:0;width:0;height:0;line-height:0;}
[class^="evtDetailTopWrap"] .evtUtilBox button.fb {background:url('../../images/dualit/ico_util_fbook_w.png') no-repeat 50% 50%;background-size:auto 15px;}
[class^="evtDetailTopWrap"] .evtUtilBox button.kakao {background:url('../../images/dualit/ico_util_kakao_w.png') no-repeat 50% 50%;background-size:auto 15px;}
[class^="evtDetailTopWrap"] .evtUtilBox button.url {background:url('../../images/dualit/ico_util_url_w.png') no-repeat 50% 50%;background-size:14px auto;}

.evtDetailTopWrap02 {background-color:#000;}
.evtDetailTopWrap02 .evtCopy {color:#fff;}
.evtDetailTopWrap02 .evtCopy:before {display:block;content:"";position:absolute;left:0;right:0;top:12.8vw;height:3px;background-color:rgba(255, 255, 255);}
.evtDetailTopWrap02 .evtUtilBox:after {display:block;content:"";position:absolute;left:20px;right:20px;bottom:-7.46vw;height:3px;background-color:rgba(255, 255, 255);}

.evtDetailTopWrap03 .evtCopy {padding:50px 0;color:#030303;}
.evtDetailTopWrap03 .evtCopy:before {top:50px;background-color:#000;}
.evtDetailTopWrap03 .evtCopy:after {display:block;content:"";position:absolute;left:0;right:0;bottom:0;height:1px;background-color:#e3e3e3;}
.evtDetailTopWrap03 .evtCopy strong {line-height:36px;}

.evtDetailTopWrap04 {min-height:220px;}
.evtDetailTopWrap04 .evtCopy {padding:50px 0 80px;color:#030303;}
.evtDetailTopWrap04 .evtCopy:before {top:50px;background-color:#000;}
.evtDetailTopWrap04 .evtCopy strong {line-height:36px;}
.evtDetailTopWrap04 .evtUtilBox {bottom:0;}
.evtDetailTopWrap04 .evtUtilBox button.fb {background:url('../../images/dualit/ico_util_fbook.png') no-repeat 50% 50%;background-size:auto 15px;}
.evtDetailTopWrap04 .evtUtilBox button.kakao {background:url('../../images/dualit/ico_util_kakao.png') no-repeat 50% 50%;background-size:auto 15px;}
.evtDetailTopWrap04 .evtUtilBox button.url {background:url('../../images/dualit/ico_util_url.png') no-repeat 50% 50%;background-size:14px auto;}

/* promotion Edit Box */
[class^="pageTitleBox"] + [class^="editViewWrap"],
[class^="subCateViewWrap"] + [class^="editViewWrap"] {margin:50px 0 0;}
[class^="editViewWrap"] img {max-width:100%;}
[class^="editViewWrap"] .editTit {display:-webkit-box;overflow:hidden;padding:0 20px;line-height:31px;font-size:21px;text-align:center;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:keep-all;}
[class^="editViewWrap"] .editDesc {display:-webkit-box;overflow:hidden;padding:0 20px;line-height:23px;font-size:13px;color:#444;text-align:center;-webkit-line-clamp:5;-webkit-box-orient:vertical;word-break:keep-all;}
[class^="editViewWrap"] .img {display:block;}
[class^="editViewWrap"] .editTit + .editDesc,
[class^="editViewWrap"] .editDesc + .img,
[class^="editViewWrap"] .editTit + .img {margin:20px 0 0;}

/* 이벤트, 기획전, 매거진 등등 상세 화면 하단 버튼박스 */
[class^="pageBtnWrap"] {margin:60px auto 0;border-top:1px solid #e3e3e3;}
[class^="pageBtnWrap"]:last-child {margin:60px 0 -60px;}
[class^="pageBtnWrap"] .inner {position:relative;height:52px;padding:0;text-align:center;}
[class^="pageBtnWrap"] .list {display:inline-block;position:relative;width:52px;height:52px;background:url('../../images/dualit/common/btn_wrap_list.png') no-repeat center;background-size:auto 14px;}
[class^="pageBtnWrap"] .list span {display:block;overflow:hidden;position:absolute;left:0;top:0;width:0;height:0;line-height:0;}
[class^="pageBtnWrap"] .prev {display:block;position:absolute;left:0;top:0;width:52px;height:52px;background:url('../../images/common/dualit/btn_wrap_prev.png') no-repeat center;background-size:auto 15px;}
[class^="pageBtnWrap"] .prev span {display:block;overflow:hidden;position:absolute;left:0;top:0;width:0;height:0;line-height:0;}
[class^="pageBtnWrap"] .next {display:block;position:absolute;right:0;top:0;width:52px;height:52px;background:url('../../images/dualit/common/btn_wrap_next.png') no-repeat center;background-size:auto 15px;}
[class^="pageBtnWrap"] .next span {display:block;overflow:hidden;position:absolute;left:0;top:0;width:0;height:0;line-height:0;}

/* 공지사항 */
[class^="pageTitleBox"] + .noti_list {margin:50px 0 0;}
/* .noti_list {padding-bottom:40px;} */
[class^="noti_list"] img {max-width:100%;}
[class^="noti_list"] ul {width:100%;margin:0 auto;border-bottom:1px solid #d3d3d3;}
[class^="noti_list"] ul li {overflow:hidden;border-top:1px solid #d3d3d3;}
[class^="noti_list"] ul li a {display:block;padding:25px 20px;}
[class^="noti_list"] ul li a strong {display:block;font-size:16px;font-weight:500;color:#030303;line-height:22px;}
[class^="noti_list"] ul li a .date {display:inline-block;margin-top:15px;font-size:11px;color:#333;text-align:center;line-height:15px;}

[class^="noti_list"] .notiPaging {overflow:hidden;margin:25px auto 0;text-align:center;}
[class^="noti_list"] .notiPaging button {display:inline-block;vertical-align:top;}
[class^="noti_list"] .notiPaging button em {display:block;overflow:hidden;width:0;height:0;line-height:0;}
[class^="noti_list"] .notiPaging .pagPrev {width:7px;height:18px;background:url('../../images/dualit/paging_prev.png') no-repeat center;background-size:7px auto;}
[class^="noti_list"] .notiPaging .pagNext {width:7px;height:18px;background:url('../../images/dualit/paging_next.png') no-repeat center;background-size:7px auto;}
[class^="noti_list"] .notiPaging .pagingNum {display:inline-block;margin:0 15px;vertical-align:top;}
[class^="noti_list"] .notiPaging .pagingNum a {display:inline-block;margin:0 10px;line-height:18px;font-size:14px;color:#999;vertical-align:top;}
[class^="noti_list"] .notiPaging .pagingNum a.active {font-weight:500;color:#000;}

[class^="pageTitleBox"] + .noti_list02 {margin:0 0 -60px;}
.noti_list02 {padding:30px 20px 60px;background-color:#f4f4f4;}
.noti_list02 > ul {border-bottom:1px solid #bebebe;}
.noti_list02 > ul > li {border-top:1px solid #bebebe;}
.noti_list02 > ul > li:first-child {border-top:none;}
.noti_list02 > ul > li > a {position:relative;padding:20px 20px 20px 0;}
.noti_list02 > ul > li > a:after {display:block;content:"";position:absolute;right:0;top:50%;width:15px;height:15px;margin:-8px 0 0;background:url('../../images/dualit/ico_faq_open.png') no-repeat center;background-size:100% auto;}
.noti_list02 > ul > li.active > a:after {height:2px;margin:-1px 0 0;background:url('../../images/dualit/ico_faq_close.png') no-repeat center;background-size:100% auto;}
.noti_list02 > ul > li .notiDetailBox {display:none;padding:20px;line-height:150%;background-color:#fff;}
.noti_list02 > ul > li .notiDetailBox a {display:inline;padding:0;margin:0;}


/* store */
.store_top {position:relative;margin-top:8px;}
.store_top strong {position:absolute;top:50%;left:0;width:100%;font-size:23px;font-weight:500;color:#fff;line-height:29px;text-align:center;transform:translateY(-50%);}
.store_top .title {overflow:hidden;position:relative;height:620px;background-color:#1c1c1c;text-align:center;color:#fff;}
.store_top .title img {position:absolute;top:0;left:50%;height:100%;margin-left:-952px;}
.store_top .title strong {display:block;position:relative;z-index:10;margin-top:238px;font-weight:normal;font-size:50px;line-height:72px;}
.store_info {padding:0 20px 40px;}
.store_info h3 {margin-top:70px;height:20px;font-weight:700;font-size:21px;color:#030303;line-height:16px;text-align:center;}
.store_info div {margin-top:30px;padding:15px 0;border-top:4px solid #000;border-bottom:1px solid #e3e3e3;}
.store_info table {table-layout:fixed;width:100%;}
.store_info table th,
.store_info table td {padding:10px;font-size:14px;line-height:20px;text-align:left;vertical-align:top;}
.store_info table th {font-family:'Noto Sans KR' !important;font-weight:500;}
.store_info table td {font-family:'Noto Sans KR' !important;color:#333;}
.store_info table td span {display:inline-block;margin-left:40px;}
.store_info strong {display:block;margin-top:10px;padding-left:10px;font-family:'Noto Sans KR' !important;font-size:16px;font-weight:700;color:#030303;line-height:20px;}
.store_info dl {overflow:hidden;padding:10px 0;font-size:14px;line-height:25px;}
.store_info dl dt {float:left;clear:both;width:50px;padding-left:10px;font-weight:bold;color:#030303;}
.store_info dl dd {float:left;width:calc(100% - 70px);padding-left:10px;color:#666;}

[class^="pageTitleBox"] + .lf-store-search {margin:50px 0 0;}
.lf-store-search{overflow:hidden;position:relative;font-size:15px;box-sizing:border-box}
.lf-store-search__container{padding:8px 15px;background:#fff}
.lf-store-search__form{margin-left:-5px}
.lf-store-search__form-sido-gugun,.lf-store-search__form-search,.lf-store-search__form-submit{padding-top:10px}
.lf-store-search__form-submit{padding-left:5px}
.lf-store-search__form-field{padding-left:5px;box-sizing:border-box}
.lf-store-search__form-type-brand .lf-store-search__form-field, .lf-store-search__form-sido-gugun .lf-store-search__form-field{float:left;width:50%}
.lf-store-search__form-type-brand,
.lf-store-search__form-sido-gugun,
.lf-store-search__form-search {clear:both;}
.lf-store-search .lf-store-select{position:relative;-webkit-appearance:none;}
.lf-store-search .lf-store-select:before, .lf-store-search .lf-store-select:after{position:absolute;content:"";pointer-events:none}
.lf-store-search .lf-store-select:before{top:calc(50% - 2px);right:13px;z-index:1;width:0;height:0;border:5px solid;border-color:#333 transparent transparent;border-bottom:0;transition:transform 0.4s ease}
.lf-store-search .lf-store-select:after{top:1px;right:1px;bottom:1px;width:40px;background:#f9f9f9}
.lf-store-search .lf-store-select__selectbox{display:block;width:100%;height:40px;padding:0 55px 0 15px;border-radius:0;border:1px solid #e8e8e8;background:#fff;color:#333;font-family:'Noto Sans KR';text-align:left;box-sizing:border-box;-webkit-appearance:none;}
.lf-store-search__search-word,.lf-store-search__submit{display:block;width:100%;height:40px;border-radius:0;font-family:'Noto Sans KR';box-sizing:border-box}
.lf-store-search__search-word{padding-left:15px;border-radius:0;border:1px solid #e8e8e8;line-height:38px;box-shadow:none;-webkit-appearance:none;}
.lf-store-search__submit{position:relative;border:0;background:#333;color:#fff;line-height:40px}
.lf-store-search__submit:after{position:absolute;top:calc(50% - 5px);right:17px;width:6px;height:6px;border-width:2px 2px 0 0;border-style:solid;content:"";transform:rotate(45deg)}
.lf-store-search__list{padding-top:10px}
.lf-store-search__list--hidden{display:none}
.lf-store-search__total{height:39px;padding-left:20px;color:#333;line-height:39px;border-bottom:1px solid #e8e8e8}
.lf-store-search__total-number{color:#d9232e}
.lf-store-search__items{overflow:hidden;overflow-y:auto}
.lf-store-search__items::-webkit-scrollbar{width:5px;background:#d8d8d8}
.lf-store-search__items::-webkit-scrollbar-thumb,.lf-store-search__items::-webkit-scrollbar-track{border-radius:0;box-shadow:none}
.lf-store-search__items::-webkit-scrollbar-thumb{background:#666}
.lf-store-search__items::-webkit-scrollbar-track{background:#d8d8d8}
.lf-store-search__item{display:block;position:relative;padding:20px 60px 20px 20px;color:#666;font-size:13px}
.lf-store-search__item:before,.lf-store-search__item:after{position:absolute;content:""}
.lf-store-search__item:before{top:calc(50% - 19px);right:20px;width:14px;height:14px;border-radius:15px;border:8px solid #bbb}
.lf-store-search__item:after{top:calc(50% + 4px);right:22px;width:0;height:0;border-width:15px 13px 0;border-style:solid;border-color:#bbb transparent}
.lf-store-search__item-title{color:#333;font-weight:700;font-size:15px}
.lf-store-search__item-type{padding-bottom:8px}
.lf-store-search__item--active:before{border-color:#d9232e}
.lf-store-search__item--active:after{border-top-color:#d9232e}
.lf-store-search__item+.lf-store-search__item{border-top:1px solid #ebebeb}
.lf-store-search__map-infowindow {padding:0;}
.lf-store-search__map-infowindow--hidden{position:absolute;top:0;left:0;width:100%;z-index:-1}
.lf-store-search__map-container{height:250px}
.lf-store-search__infowindow{position:relative;z-index:40;margin:0;padding:0 15px 20px;border-top:2px solid #333;background:#fff;font-size:14px;line-height:20px}
.lf-store-search__infowindow-container{position:relative}
.lf-store-search__infowindow-title{padding:12px 20px;margin:0 -20px;border-bottom:1px solid #d8d8d8;color:#333;font-weight:700;font-size:18px;line-height:26px;text-align:center}
.lf-store-search__infowindow-info{padding:20px 0}
.lf-store-search__infowindow-term{color:#333;font-weight:700;font-size:14px}
.lf-store-search__infowindow-description{margin-top:-20px;padding-left:70px}
.lf-store-search__infowindow-description+.lf-store-search__infowindow-term{margin-top:5px}
.lf-store-search__infowindow-add-title{padding-top:5px;color:#333;font-weight:700;font-size:14px}
.lf-store-search__infowindow-add-items{padding-top:5px}
.lf-store-search__infowindow-add-brand-name{padding-right:10px}
.lf-store-search__infowindow-close{overflow:hidden;position:absolute;top:0;left:0}
.lf-store-search__infowindow-close-button{position:relative;width:50px;height:50px;border:0;background:transparent}
.lf-store-search__infowindow-close-button:before{position:absolute;top:50%;left:50%;width:8px;height:8px;margin:-4px 0 0 -4px;border:2px solid #333;border-width:2px 0 0 2px;content:"";transform:rotate(-45deg)}
.lf-store-search__infowindow-close-text{color:transparent}
.lf-store-search__load{display:none;position:absolute;top:0;left:0;z-index:100;width:100%;height:100%;background:rgba(0, 0, 0, 0.7)}

/**********************************************************
	swiper
**********************************************************/
.cmtSlideWrap {position:relative;}
.cmtSlideWrap .swiper-wrapper {position:relative;width:10000em;}
.cmtSlideWrap .swiper-wrapper:after {display:block;overflow:hidden;content:"";clear:both;width:0;height:0;line-height:0;}
.cmtSlideWrap .swiper-wrapper .swiper-slide {float:left;}
.cmtSlideWrap .swiper-wrapper .swiper-slide a {display:block;}
.cmtSlideWrap .swiper-wrapper .swiper-slide a img {width:100%;}
.cmtSlideWrap .swiper-pagination {overflow:hidden;position:absolute;left:0;right:0;bottom:20px;text-align:center;z-index:1;}
.cmtSlideWrap .swiper-pagination .swiper-pagination-bullet {display:inline-block;width:8px;height:8px;border-radius:4px;background-color:rgba(255, 255, 255, 0.3);transition:width .6s ease;}
.cmtSlideWrap .swiper-pagination .swiper-pagination-bullet + .swiper-pagination-bullet {margin:0 0 0 10px;}
.cmtSlideWrap .swiper-pagination .swiper-pagination-bullet em {display:block;overflow:hidden;position:absolute;left:0;height:0;width:0;height:0;line-height:0;}
.cmtSlideWrap .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {width:25px;background-color:#fff;}
.cmtSlideWrap .swiper-ctrl {overflow:hidden;position:relative;margin:20px auto 0;text-align:center;}
.cmtSlideWrap .swiper-ctrl button em {display:inline-block;overflow:hidden;position:absolute;left:0;top:0;width:0;height:0;line-height:0;}
.cmtSlideWrap .swiper-ctrl .swiper-prev {float:left;width:25px;height:25px;background:url('../../images/dualit/swiper_prev.png') no-repeat center;background-size:auto 100%;}
.cmtSlideWrap .swiper-ctrl .swiper-prev.swiper-button-disabled {background:url('../../images/dualit/swiper_prev_disabled.png') no-repeat center;background-size:auto 100%;}
.cmtSlideWrap .swiper-ctrl .swiper-next {float:right;width:25px;height:25px;background:url('../../images/dualit/swiper_next.png') no-repeat center;background-size:auto 100%;}
.cmtSlideWrap .swiper-ctrl .swiper-next.swiper-button-disabled {background:url('../../images/dualit/swiper_next_disabled.png') no-repeat center;background-size:auto 100%;}
.cmtSlideWrap .swiper-scrollbar {position:absolute;bottom:0;left:0;right:0;background-color:#e2e2e2;z-index:1;}
.cmtSlideWrap .swiper-scrollbar .swiper-scrollbar-drag {position:relative;height:3px;background-color:#000;}

/**********************************************************
	DUALIT - BRAND 메뉴 컨텐츠 화면
**********************************************************/
/* 듀얼릿에 대해 */
[class^="dualitAboutWrap"] {margin:0 0 -60px;padding:40px 0 0;}
[class^="dualitAboutWrap"] [class^="aboutSect"] .inner {padding:0 20px;}
[class^="dualitAboutWrap"] [class^="imgBox"] {display:block;}
[class^="dualitAboutWrap"] [class^="imgBox"] .img {display:inline-block;}
[class^="dualitAboutWrap"] [class^="imgBox"] .img img {width:100%;}
[class^="dualitAboutWrap"] .imgBox02 {margin:0 -20px;}
[class^="dualitAboutWrap"] [class^="titBox"] {display:block;line-height:28px;font-size:18px;font-weight:500;color:#000;text-align:center;}
[class^="dualitAboutWrap"] [class^="txtBox"] {display:block;line-height:23px;font-size:13px;font-weight:300;color:#444;text-align:center;word-break:keep-all;letter-spacing:-0.5px;}
[class^="dualitAboutWrap"] [class^="imgBox"] + [class^="titBox"] {margin:40px 0 0;}
[class^="dualitAboutWrap"] [class^="titBox"] + [class^="txtBox"],
[class^="dualitAboutWrap"] [class^="txtBox"] + [class^="txtBox"] {margin:30px 0 0;}

[class^="dualitAboutWrap"] .aboutSect02 {margin:45px 0 0;padding:0 0 40px;background-color:#f4f4f4;}
[class^="dualitAboutWrap"] .aboutSect02 .imgBox {position:relative;}
[class^="dualitAboutWrap"] .aboutSect02 .imgBox:before {display:block;content:"";position:absolute;left:-20px;top:0;right:-20px;padding:26.666% 0 0;background-color:#fff;}
[class^="dualitAboutWrap"] .aboutSect02 .imgBox .imgIn {overflow:hidden;position:relative;height:62vw;}
[class^="dualitAboutWrap"] .aboutSect02 .imgBox .img {float:left;width:49%;padding:35px 0 0;}
[class^="dualitAboutWrap"] .aboutSect02 .imgBox .img:last-child {float:right;padding:0;}

/* 연혁 */
[class^="dualitHistoryWrap"] {margin:0 0 -60px;padding:40px 20px;background-color:#f4f4f4;}
[class^="dualitHistoryWrap"] .historyCopy {display:block;margin:0 0 40px;line-height:25px;font-size:18px;font-weight:500;color:#000;text-align:center;}
[class^="dualitHistoryWrap"] [class^="history_"] {margin:40px 0 0;padding:40px 0 0;border-top:1px solid #e2e2e2;}
[class^="dualitHistoryWrap"] [class^="history_"]:first-child {margin:0;padding:0;border-top:none;}
[class^="dualitHistoryWrap"] [class^="history_"] .year {display:block;line-height:46px;font-size:40px;font-weight:400;color:#bebebe;text-align:center;}
[class^="dualitHistoryWrap"] [class^="history_"] .tit {display:block;margin:5px 0 0;line-height:26px;font-size:16px;font-weight:500;color:#000;text-align:center;}
[class^="dualitHistoryWrap"] [class^="history_"] .imgBox {display:block;margin:30px auto 0;}
[class^="dualitHistoryWrap"] [class^="history_"] .imgBox img {width:100%;}
[class^="dualitHistoryWrap"] [class^="history_"] .hisInfo {margin:30px 0 0;}
[class^="dualitHistoryWrap"] [class^="history_"] .hisInfo .desc {display:block;position:relative;padding:0 0 0 10px;line-height:22px;font-size:12px;color:#444;}
[class^="dualitHistoryWrap"] [class^="history_"] .hisInfo .desc:before {display:block;content:"";position:absolute;left:0;top:8px;width:3px;height:3px;background-color:#444;}
[class^="dualitHistoryWrap"] .history_1940 .imgBox {width:124px;}
[class^="dualitHistoryWrap"] .history_1950 .imgBox {width:157px;}
[class^="dualitHistoryWrap"] .history_1960 .imgBox {width:101px;}
[class^="dualitHistoryWrap"] .history_1970 .imgBox {width:148px;}
[class^="dualitHistoryWrap"] .history_1980 .imgBox {width:131px;}
[class^="dualitHistoryWrap"] .history_1990 .imgBox {width:105px;}
[class^="dualitHistoryWrap"] .history_2000 .imgBox {width:133px;}
[class^="dualitHistoryWrap"] .history_2010 .imgBox {width:142px;}

/* 철학 */
[class^="dualitPhilosophyWrap"] {margin:0;}
[class^="dualitPhilosophyWrap"] [class^="philosSect"] {position:relative;padding:40px 20px;background-color:#f4f4f4;}
[class^="dualitPhilosophyWrap"] [class^="philosSect"] .titBox {display:block;line-height:30px;font-size:21px;font-weight:500;color:#000;text-align:center;}
[class^="dualitPhilosophyWrap"] [class^="philosSect"] .titBox .titS {display:block;margin:5px 0 0;line-height:23px;font-size:13px;}
[class^="dualitPhilosophyWrap"] [class^="philosSect"] .videoBox {position:relative;margin:40px -20px 0;}
[class^="dualitPhilosophyWrap"] [class^="philosSect"] .videoBox .video {display:block;height:56.3vw;}
[class^="dualitPhilosophyWrap"] [class^="philosSect"] .videoBox .video iframe {width:100%;height:100%;}
[class^="dualitPhilosophyWrap"] [class^="philosSect"] .txtBox {margin:30px 0 0;line-height:23px;font-size:13px;font-weight:300;color:#444;text-align:center;}
[class^="dualitPhilosophyWrap"] [class^="philosSect"] .belief {overflow:hidden;margin:40px 0 0;}
[class^="dualitPhilosophyWrap"] [class^="philosSect"] .belief ul {overflow:hidden;margin:0;text-align:center;}
[class^="dualitPhilosophyWrap"] [class^="philosSect"] .belief ul li {margin:40px 0 0;padding:40px 0 0;border-top:1px solid #e2e2e2;}
[class^="dualitPhilosophyWrap"] [class^="philosSect"] .belief ul li:first-child {margin:0;padding:0;border-top:none;}
[class^="dualitPhilosophyWrap"] [class^="philosSect"] .belief ul li .num {display:block;line-height:40px;font-size:30px;font-weight:300;color:#bebebe;}
[class^="dualitPhilosophyWrap"] [class^="philosSect"] .belief ul li .tit {display:block;margin:5px 0 0;line-height:26px;font-size:16px;font-weight:500;color:#000;}
[class^="dualitPhilosophyWrap"] [class^="philosSect"] .belief ul li .txtBox {margin:5px 0 0;line-height:18px;font-size:12px;word-break:keep-all;}
[class^="dualitPhilosophyWrap"] .philosSect02 {margin:40px 0 0;padding:0 20px;background-color:#fff;}
[class^="dualitPhilosophyWrap"] [class^="philosSect"] .promise {overflow:hidden;padding:0;}
[class^="dualitPhilosophyWrap"] [class^="philosSect"] .promise ul li {margin:40px 0 0;padding:40px 0 0;border-top:1px solid #e2e2e2;}
[class^="dualitPhilosophyWrap"] [class^="philosSect"] .promise ul li:first-child {margin:0;padding:0;border-top:none;}
[class^="dualitPhilosophyWrap"] [class^="philosSect"] .promise ul li strong {display:block;line-height:28px;font-size:18px;font-weight:500;color:#000;}
[class^="dualitPhilosophyWrap"] [class^="philosSect"] .promise ul li .txtBox {margin:10px 0 0;text-align:left;line-height:23px;font-size:13px;color:#444;}

/* 수상내역 */
[class^="dualitAwardWrap"] {margin:0 0 -60px;padding:40px 0 60px;background-color:#f4f4f4;}
[class^="dualitAwardWrap"] .inner {padding:0 20px;}
[class^="dualitAwardWrap"] .awardItem {overflow:hidden;margin:25px 0 0;}
[class^="dualitAwardWrap"] .awardItem:first-child {margin:0;}
[class^="dualitAwardWrap"] .awardItem .img {display:block;float:left;width:125px;height:125px;background-color:#fff;text-align:center;}
[class^="dualitAwardWrap"] .awardItem .img img {max-width:100%;}
[class^="dualitAwardWrap"] .awardItem .info {display:block;float:right;width:calc(100% - 150px);word-break:keep-all;}
[class^="dualitAwardWrap"] .awardItem .info .tit {display:block;line-height:20px;font-size:15px;font-weight:500;color:#000;}
[class^="dualitAwardWrap"] .awardItem .info .desc {display:block;margin:10px 0 0;line-height:13px;font-size:12px;font-weight:300;color:#444;}

/**********************************************************
	DUALIT - TIP / GUIDE 메뉴 컨텐츠 화면
**********************************************************/
[class^="tipGuideWrap"] {margin:50px 0 0;}
[class^="tipGuideWrap"] + [class^="itemListWrap02"] {margin:50px 0 -60px;}
[class^="tipGuideWrap"] > .inner {padding:0 20px;word-break:keep-all;}
[class^="tipGuideWrap"] .tipVisualTopWrap .cate {display:block;margin:0 0 15px;line-height:18px;font-size:12px;font-weight:500;color:#444;text-align:center;}
[class^="tipGuideWrap"] .tipVisualTopWrap .tit {display:block;line-height:28px;font-size:18px;font-weight:500;color:#000;text-align:center;}
[class^="tipGuideWrap"] .tipVisualTopWrap .emphaDesc {line-height:28px;font-size:18px;font-weight:500;}
[class^="tipGuideWrap"] .tipVisualTopWrap .desc {display:block;margin:10px 0 0;line-height:23px;font-size:13px;color:#444;text-align:center;letter-spacing:-0.5px;}
[class^="tipGuideWrap"] .tipVisualTopWrap .desc02 {display:block;margin:10px 0 0;line-height:18px;font-size:12px;color:#999;text-align:center;letter-spacing:-0.5px;}
[class^="tipGuideWrap"] .tipVisualTopWrap > .img {display:block;margin:35px -20px 0}
[class^="tipGuideWrap"] .tipVisualTopWrap > .img img {width:100%;}
[class^="tipGuideWrap"] .tipVisualTopWrap .recipeVisual {position:relative;overflow:hidden;margin:35px -20px 0;}
[class^="tipGuideWrap"] .tipVisualTopWrap .recipeVisual .img {display:block;width:50%;}
[class^="tipGuideWrap"] .tipVisualTopWrap .recipeVisual .img img {width:100%;}
[class^="tipGuideWrap"] .tipVisualTopWrap .recipeVisual .recipeInfo {position:absolute;left:50%;top:0;bottom:0;right:0;width:50%;color:#fff;background-color:#222;}
[class^="tipGuideWrap"] .tipVisualTopWrap .recipeVisual .recipeInfo .recipeInfoIn {position:absolute;left:0;top:50%;right:0;text-align:center;transform:translate(0, -50%);}
[class^="tipGuideWrap"] .tipVisualTopWrap .recipeVisual .recipeInfo .recipeInfoIn .desc02 {margin:5px 0 0;}
[class^="tipGuideWrap"] .notiDesc {margin:20px -20px 0;line-height:16px;font-size:10px;font-style:italic;color:#444;text-align:center;}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] {margin:50px 0 0;}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] [class^="infoBox"] {padding:30px 0 0;margin:30px auto 0;border-top:1px solid #e2e2e2;}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] [class^="infoBox"]:first-child {padding:0;margin:0 auto;border-top:none;}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] [class^="infoBox"] > dt {margin:0 0 10px;line-height:26px;font-size:16px;font-weight:500;color:#000;}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] [class^="infoBox"] > dd {position:relative;margin:10px 0 0;padding:0 0 0 7px;line-height:23px;font-size:13px;font-weight:300;color:#444;}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] [class^="infoBox"] > dt + dd {margin:0;}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] [class^="infoBox"] > dd:after {display:block;content:"";position:absolute;left:0;top:9px;width:2px;height:2px;border-radius:4px;background-color:#000}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] .infoBox02 > dd {margin:20px 0 0;}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] .infoBox02 > dt + dd {margin:0;}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] .infoBox03 > dd {margin:20px 0 0;padding:0;}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] .infoBox03 > dd:after {display:none;}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] .infoBox03 > dd .tit {display:block;font-size:13px;font-weight:500;color:#000;}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] .infoBox03 > dd .txt {display:block;font-size:13px;font-weight:300;color:#444;}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] .infoBox03 > dd .tit + .txt {margin:5px 0 0;}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] .infoBox04 > dd {padding:0;}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] .infoBox04 > dd:after {display:none;}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] .infoBox05 > dd {overflow:hidden;padding:0;}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] .infoBox05 > dd:after {display:none;}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] .infoBox05 > dd .img {display:block;}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] .infoBox05 > dd .img img {width:100%;}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] .infoBox05 > dd .img img + img {margin:10px 0 0;}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] .infoBox05 > dd .notiBox{margin:15px 0 0;}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] .infoBox05 > dd .notiBox .dotDesc {position:relative;margin:20px 0 0;padding:0 0 0 7px;}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] .infoBox05 > dd .notiBox .dotDesc:first-child {margin:0;}
[class^="tipGuideWrap"] [class^="tipInfoWrap"] .infoBox05 > dd .notiBox .dotDesc:after {display:block;content:"";position:absolute;left:0;top:9px;width:2px;height:2px;border-radius:4px;background-color:#000}
[class^="tipGuideWrap"] .tipCautionBox {position:relative;box-sizing:border-box;margin:30px auto 0;padding:0 0 0 15px;}
[class^="tipGuideWrap"] .tipCautionBox:after {display:block;content:"";position:absolute;left:0;top:0;bottom:0;width:1px;background-color:#000;}
[class^="tipGuideWrap"] .tipCautionBox em {margin:0 0 5px;line-height:20px;display:block;font-size:14px;font-weight:500;color:#000;}
[class^="tipGuideWrap"] .tipCautionBox .txt {display:block;margin:0;line-height:20px;font-size:10px;font-style:italic;color:#444;word-break:keep-all;}
[class^="tipGuideWrap"] .tipVideoBox {position:relative;width:100%;margin:50px auto 0;}
[class^="tipGuideWrap"] .tipVideoBox:first-child {margin:0 auto;}
[class^="tipGuideWrap"] .tipVideoBox:after {display:block;content:"";padding:56% 0 0;}
[class^="tipGuideWrap"] .tipVideoBox .video {position:absolute;left:0;top:0;right:0;bottom:0;}
[class^="tipGuideWrap"] .tipVideoBox .video iframe {width:100%;height:100%;}
