
@charset "utf-8";

/*****************************
	Base(reset) style
*****************************/
html, body {height:100%;}
html, body, blockquote, caption, dd, div, dl, dt, fieldset, form, frame, h1, h2, h3, h4, h5, h6, hr, iframe, input, legend, li, object, ol, p, pre, q, select, table, textarea, ul, tr, td {margin:0;padding:0;}
ul, ol, li {list-style:none;}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;margin:0;padding:0;}

body {font-size:14px;line-height:18px;font-weight:400;color:#000;-webkit-text-size-adjust:none;}

/* pre, textarea, select {} */

fieldset {display:block;margin:0;padding:0;border:0;}
legend {position:absolute;visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0;}
form {margin:0;padding:0;}

a, button, select {color:#000;}
a, a:link, a:visited, a:active, a:hover,
button, button:link, button:visited, button:active, button:hover,
select, select:link, select:visited, select:active, select:hover {text-decoration:none;outline:none;}

input, button {padding:0;margin:0;border:0;font-size:13px;vertical-align:middle;background:none;-webkit-appearance:none;outline:none;}
button, label {cursor:pointer;}

select::-ms-expand {display:none;}
select {appearance:none;-webkit-appearance:none;border:none;background-repeat:no-repeat;background-position:center right;}

input[type='text'], input[type='password'] {height:26px;padding:0 10px;background:#fff;}

input[type='radio'], input[type='checkbox'] {appearance:none;-webkit-appearance:none;}

img {border:0;vertical-align:middle;}

hr {display:none;}

em, address {font-style:normal;}

h1, h2, h3, h4, h5, h6, strong {font-weight:700;}

table {width:100%;border-collapse:collapse;}
caption {overflow:hidden;margin:0;padding:0;width:0;height:0;font-size:0;line-height:0;}

noscript {position:absolute;z-index:10;background:#efefef;}
noscript p {margin:0;}

.mask {display:none;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(17, 17, 17, 0.7);z-index:5;}

/* skip */
.skip {position:fixed;}
.skip li a {display:block;position:absolute;top:0;left:-9999px;width:100%;text-align:center;}
.skip li a:focus, .skip li a:active {left:0;padding:10px 0;background:rgba(0, 0, 0, 0.5);color:#fff;}