@charset "utf-8";
@import url("font.css");

/**********************************************************
	상품상세 및 마이페이지 공통하면 reset 필요 내용 layout.css에 선언
**********************************************************/
body, pre, textarea, select, button, input {font-family:'Poppins', 'Noto Sans KR','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo', sans-serif !important;}
strong {font-weight:700;}
a {color:#000;}
::-webkit-input-placeholder {color:#ccc;font-weight:400;}
:-ms-input-placeholder {color:#ccc;font-weight:400;}
::placeholder {color:#ccc;font-weight:400;}
input::-ms-clear{display:none;}
input::-webkit-contacts-auto-fill-button {visibility:hidden;display:none !important;pointer-events:none;position:absolute;right:0;}

#wrap {overflow:hidden;position:relative;box-sizing:border-box;min-height:100%;padding:0 0 339px;}
#wrap.pop {height:100%;overflow:hidden;}

/**********************************************************
	BRAND MALL - LAYOUT
**********************************************************/
/* header */
#header {position:fixed;top:0;left:0;right:0;background-color:#fff;z-index:260;}
#header .header_inner {position:relative;padding:18px 0 17px;border-bottom:1px solid #f5f5f5;}
#header .logo {line-height:0;text-align:center;}
#header .logo a {display:inline-block;height:17px;}
#header .logo a img {height:100%;vertical-align:top;}

#header .btnGnb {position:absolute;left:4px;top:5px;width:44px;height:44px;background:url('../../images/hazzys/ic-menu.svg') no-repeat center;background-size:16px 12px;}
#header .btnGnb em {display:block;overflow:hidden;width:0;height:0;line-height:0;}

#header .headUtil {position:absolute;right:4px;top:5px;white-space:nowrap;}
#header .headUtil > a {display:inline-block;vertical-align:top;}
#header .headUtil > a em {display:block;overflow:hidden;width:0;height:0;line-height:0;}
#header .headUtil .icoCart {position:relative;width:44px;height:44px;background:url('../../images/hazzys/ic-shoppingbag.svg') no-repeat center;background-size:20px;}
#header .headUtil .icoCart span {display:block;position:absolute;right:7px;top:10px;width:14px;height:14px;font-size:8px;line-height:14px;color:#fff;text-align:center;border:1px solid #fff;border-radius:100%;background-color:#000;}
#header .headUtil .icoSearchCase {display:inline-block;position:relative;vertical-align:top;}
#header .headUtil .icoSearchCase .icoSearch {display:inline-block;width:44px;height:44px;vertical-align:top;background:url('../../images/hazzys/ic-search.svg') no-repeat center;background-size:20px;}
#header .headUtil .icoSearchCase .icoSearch em {display:block;overflow:hidden;width:0;height:0;line-height:0;}
#header .headUtil .icoSearchCase .notiTipCase {display:block;position:absolute;top:100%;left:50%;transform:translate(-70%, 0);}
#header .headUtil .icoSearchCase .notiTipCase .inner {position:relative;padding:5px 30px 5px 10px;line-height:20px;font-size:13px;color:#fff;border-radius:4px;background-color:#000;}
#header .headUtil .icoSearchCase .notiTipCase .inner:after {display:block;content:"";position:absolute;right:30%;top:-9px;width:10px;height:9px;background:url('../../images/hazzys/img-bubble.svg') no-repeat center;}
#header .headUtil .icoSearchCase .notiTipCase button {position:absolute;right:0;top:0;width:30px;height:30px;background:url('../../images/hazzys/ic-tip-delete.svg') no-repeat center;}
#header .headUtil .icoSearchCase .notiTipCase button em {display:block;overflow:hidden;width:0;height:0;line-height:0;}

#header.ver02 {background-color:transparent;}
#header.ver02 .header_inner {border-bottom:none;}
#header.ver02 .logo a {background:url('../../images/hazzys/logo-w.svg') no-repeat center;background-size:auto 100%;}
#header.ver02 .logo a img {opacity:0;}
#header.ver02 .btnGnb {background:url('../../images/hazzys/ic-menu-wh.svg') no-repeat center;background-size:16px 12px;}
#header.ver02 .headUtil .icoSearch {width:44px;height:44px;background:url('../../images/hazzys/ic-search-wh.svg') no-repeat center;background-size:20px;}
#header.ver02 .headUtil .icoCart {width:44px;height:44px;background:url('../../images/hazzys/ic-shoppingbag-wh.svg') no-repeat center;background-size:20px;}
#header.ver02 .headUtil .icoCart span {border:1px solid #000;}

/* gnb */
.hazzysGnbWrap {position:fixed;left:-100%;top:0;bottom:0;width:100%;background-color:rgba(255, 255, 255, 0);z-index:300;transition:left .7s ease, background-color .7s ease;}
.hazzysGnbWrap > .inner {position:relative;width:80%;height:100%;}
.hazzysGnbWrap > .inner .closeGnb {position:absolute;right:0;top:0;width:50px;height:50px;background:url('../../images/hazzys/ic-close.svg') no-repeat center;}
.hazzysGnbWrap > .inner .closeGnb em {display:block;overflow:hidden;width:0;height:0;line-height:0;}
.hazzysGnbWrap .logInfoBox {box-sizing:border-box;height:190px;padding:50px 0 0 38px;background-color:#f5f5f5;}
.hazzysGnbWrap .logInfoBox .logoTxt {display:block;width:81px;height:12px;background:url('../../images/hazzys/logo.svg') no-repeat center;background-size:81px auto;}
.hazzysGnbWrap .logInfoBox .logoTxt em {display:block;overflow:hidden;width:0;height:0;line-height:0;}
.hazzysGnbWrap .logInfoBox .logCopy {margin:13px 0 0;font-size:13px;}
.hazzysGnbWrap .logInfoBox .logCopy em {font-weight:700;}
.hazzysGnbWrap .logInfoBox .btnLog {margin:15px 0 0;}
.hazzysGnbWrap .logInfoBox .btnLog a {display:inline-block;box-sizing:border-box;width:90px;height:36px;line-height:34px;font-size:11px;vertical-align:middle;}
.hazzysGnbWrap .logInfoBox .btnLog a + a {margin:0 0 0 5px;}
.hazzysGnbWrap .logInfoBox .btnLog .btnLogin {color:#fff;text-align:center;border:1px solid #000;background-color:#000;}
.hazzysGnbWrap .logInfoBox .btnLog .btnLogin span {display:inline-block;padding:0 0 0 17px;background:url('../../images/hazzys/ic-lock.svg') no-repeat left center;background-size:14px 15px;}
.hazzysGnbWrap .logInfoBox .btnLog .btnMy {color:#fff;text-align:center;border:1px solid #000;background-color:#000;}
.hazzysGnbWrap .logInfoBox .btnLog .btnMy span {display:inline-block;padding:0 0 0 17px;background:url('../../images/hazzys/ic-my.svg') no-repeat left center;background-size:14px 15px;}
.hazzysGnbWrap .logInfoBox .btnLog .btnJoin {color:#000;text-align:center;border:1px solid #000;background-color:#f5f5f5;}
.hazzysGnbWrap .logInfoBox .btnLog .btnLogout {color:#000;text-align:center;border:1px solid #000;background-color:#f5f5f5;}

.hazzysGnbWrap .gnbWrap {overflow-x:hidden;overflow-y:auto;position:absolute;top:190px;left:0;right:0;bottom:0;padding:0 15px 0 38px;color:#fff;background-color:#000;}
.hazzysGnbWrap .gnbWrap a {display:block;position:relative;color:#fff;}
.hazzysGnbWrap .gnbWrap .gnbMenu {padding:28px 0 20px;}
.hazzysGnbWrap .gnbWrap .gnbMenu > ul > li > a {line-height:50px;font-size:26px;font-weight:700;}
.hazzysGnbWrap .gnbWrap .gnbMenu > ul > li > a:after {display:block;content:"";position:absolute;right:0;top:50%;width:11px;height:11px;background:url('../../images/hazzys/ico-spread.svg') no-repeat center;transform:translate(0, -50%);}
.hazzysGnbWrap .gnbWrap .gnbMenu > ul > li.active > a:after {background:url('../../images/hazzys/ico-fold.svg') no-repeat center;transform:translate(0, -50%);}
.hazzysGnbWrap .gnbWrap .gnbMenu .depth02 {display:none;}
.hazzysGnbWrap .gnbWrap .gnbMenu .depth02 > ul > li > a {padding:10px 0;line-height:20px;font-size:12px;}

.hazzysGnbWrap .gnbWrap .assistMenu {padding:0 0 20px;}
.hazzysGnbWrap .gnbWrap .assistMenu > ul > li > a {display:block;line-height:36px;font-size:15px;}
.hazzysGnbWrap .gnbWrap .assistMenu > ul > li > a:after {display:block;content:"";position:absolute;right:0;top:50%;width:11px;height:11px;background:url('../../images/hazzys/ico-spread.svg') no-repeat center;transform:translate(0, -50%);}
.hazzysGnbWrap .gnbWrap .assistMenu > ul > li.active > a:after {background:url('../../images/hazzys/ico-fold.svg') no-repeat center;transform:translate(0, -50%);}
.hazzysGnbWrap .gnbWrap .assistMenu > ul > li > a.noFold:after {display:none;}
.hazzysGnbWrap .gnbWrap .assistMenu .depth02 {display:none;}
.hazzysGnbWrap .gnbWrap .assistMenu .depth02 > ul > li > a {padding:10px 0;line-height:20px;font-size:12px;}

/* top search wrap */
[class^="topSearchWrap"] {display:none; position:fixed;left:0;top:0;right:0;height:100%;background-color:#fff;z-index:265;}
[class^="topSearchWrap"] .searchHeader {padding:40px 18px 0;}
[class^="topSearchWrap"] .searchHeader .iptSearch {display:block;position:relative;padding:0 0 15px 35px;border-bottom:2px solid #000;}
[class^="topSearchWrap"] .searchHeader .iptSearch input {box-sizing:border-box;height:24px;padding:0;font-size:20px;vertical-align:top;}
[class^="topSearchWrap"] .schGoBack {position:absolute;top:30px;left:7px;width:44px;height:44px;background:url('../../images/hazzys/ic-search-back.svg') no-repeat center;background-size:22px 18px;z-index:1;}
[class^="topSearchWrap"] .schGoBack em {display:block;overflow:hidden;width:0;height:0;margin:0;padding:0;line-height:0;}
.topSearchWrap02 {display:block;height:auto;}
.topSearchWrap02 .schContent {display:none;}

#container {padding:53px 0 60px;}

/* footer contents */
[class^="easyUtilWrap"] {padding:20px 18px;background-color:#f5f5f5;}
[class^="easyUtilWrap"] .easySect {padding:30px 0;border-top:1px solid #ccc;}
[class^="easyUtilWrap"] .easySect:first-child {border-top:none;}
[class^="easyUtilWrap"] .easySect strong {display:block;margin:0 0 15px;font-size:16px;font-weight:500;color:#000;text-align:center;}
[class^="easyUtilWrap"] .easySect .easyEmail {display:block;position:relative;text-align:center;}
[class^="easyUtilWrap"] .easySect .easyEmail .placeholder {display:block;position:absolute;left:0;top:0;right:0;bottom:0;}
[class^="easyUtilWrap"] .easySect .easyEmail .placeholder span {display:inline-block;position:relative;line-height:48px;font-size:15px;}
[class^="easyUtilWrap"] .easySect .easyEmail .placeholder span:after {display:block;content:"*";position:absolute;right:-10px;top:50%;margin:-10px 0 0;line-height:15px;font-weight:500;}
[class^="easyUtilWrap"] .easySect .easyEmail input[type="email"],
[class^="easyUtilWrap"] .easySect .easyEmail input[type="text"] {box-sizing:border-box;width:100%;height:48px;text-align:center;border:2px solid #000;background-color:transparent;}
[class^="easyUtilWrap"] .easySect .btnSubscribe {width:100%;height:44px;font-size:15px;font-weight:500;border:2px solid #000;text-align:center;}
[class^="easyUtilWrap"] .easySect .easySns {overflow:hidden;padding:0 30px;}
[class^="easyUtilWrap"] .easySect .easySns ul {overflow:hidden;}
[class^="easyUtilWrap"] .easySect .easySns ul li {float:left;width:50%;margin:20px 0 0;}
[class^="easyUtilWrap"] .easySect .easySns ul li a {display:block;position:relative;padding:2px 0 2px 23px;font-weight:500;background-repeat:no-repeat;background-position:0 center;}
[class^="easyUtilWrap"] .easySect .easySns ul li a:before {display:block;content:"";}
[class^="easyUtilWrap"] .easySect .easySns ul li a.insta {background-image:url('../../images/hazzys/ic-instagram.svg');background-size:17px;}
[class^="easyUtilWrap"] .easySect .easySns ul li a.ytube {background-image:url('../../images/hazzys/ic-youtube.svg');background-size:19px 15px;}
[class^="easyUtilWrap"] .easySect .easySns ul li a span {display:inline-block;line-height:16px;font-size:13px;border-bottom:1px solid #000;vertical-align:top;}
[class^="easyUtilWrap"] .easySect .txtCopy {margin:0 0 25px;line-height:22px;color:#000;text-align:center;}
[class^="easyUtilWrap"] .easySect .txtCopy em {font-weight:700;}
[class^="easyUtilWrap"] .easySect .easySignUp {display:block;line-height:48px;color:#fff;text-align:center;background-color:#000;}

/* footer */
#footer {overflow:hidden;position:absolute;left:0;right:0;bottom:0;height:324px;padding:15px 18px 0;line-height:20px;font-size:12px;color:#787878;background-color:#151515;}
#footer .menu {position:relative;margin:0 0 0 -30px;padding:15px 0;}
#footer .menu > a {display:inline-block;margin:0 0 0 30px;color:#ccc;}
#footer .menu:after {display:block;content:"";position:absolute;left:-18px;right:-18px;bottom:0;height:1px;background-color:#323232;}

#footer .copyright .info {overflow:hidden;}
#footer .copyright .info .inner {margin:0 0 0 -10px;padding:14px 0;}
#footer .copyright .info span {display:inline-block;position:relative;margin:0 0 0 4px;padding:0 0 0 6px;}
#footer .copyright .info span:after {display:block;content:"";position:absolute;left:-1px;top:50%;width:1px;height:10px;background-color:#787878;transform:translate(0, -50%);}

#footer .link {overflow:hidden;padding:10px 0;}
#footer .link .inner {margin:-8px 0 0 -4px;}
#footer .link a {display:inline-block;margin:8px 0 0 4px;padding:0 10px;line-height:23px;font-size:12px;color:#ccc;border:1px solid #323232;}

#footer .fLangBox {position:absolute;right:37px;bottom:65px;padding:7px 7px 0;font-size:10px;}
#footer .fLangBox > button {position:relative;height:15px;padding:0 12px 0 0;font-size:10px;color:#ccc;}
#footer .fLangBox > button:after {display:block;content:"";position:absolute;right:0;top:50%;border-top:4px solid #787878;border-left:4px solid transparent;border-right:4px solid transparent;}
#footer .fLangBox > button span {display:inline-block;line-height:14px;border-bottom:1px solid #ccc;vertical-align:top;}
#footer .fLangBox .langOpt {display:none;position:absolute;left:0;right:0;bottom:100%;padding:8px 7px;background-color:#323232;}
#footer .fLangBox .langOpt ul li {text-align:center;}
#footer .fLangBox .langOpt ul li + li {margin:8px 0 0;}
#footer .fLangBox .langOpt ul li a {display:inline-block;height:14px;line-height:14px;color:#787878;}
#footer .fLangBox .langOpt ul li.select a {color:#ccc;border-bottom:1px solid #ccc;}

#footer .txt {display:block;height:28px;margin:28px 110px -14px 0;line-height:14px;font-size:10px;}

